[2014-07-26 05:00] dsyer opened #1 "Add failfast option if config server is not available"
For the sake of clarity: by default the app should start irrespective, but if the flag is set and config server is unavailable, refuse to start.

(Fail /refresh as well, but not fatal for the app in that case.)

[2014-07-29 22:27] dsyer opened #2 "Fetching a new branch in config server doesn't work"
If you create a new branch and push it to the remote, and then try and load it fro ma running config server it barfs with "no reference". Git on the command line seems to work.

[2014-07-30 18:29] #2 closed, assigned to nobody

[2014-07-30 20:02] dsyer opened #3 "Support key store for encryption"

[2014-07-30 22:34] #3 closed, assigned to nobody

[2014-08-01 20:44] spencergibb opened #4 "High availability for config server"
What would high availability look like for the config server?
Consul is a cluster. Cassandra is highly available.
In aws would you run one per availability zone?

Just wanting to start a conversation, I know it doesn't need to be done for spring one.

[2014-08-12 19:49] dsyer opened #5 "CLI app cannot switch off webEnvironment"
[code]

output clearly shows that the `Environment` is a servlet one (even though the `ApplicationContext` is not).

[2014-09-23 10:54] dsyer opened #6 "Maybe use multiple clones and stripe locks for access by multiple concurrent clients"
In general the config server needs a separate clone, or a lock for each unique checkout. The checkout is unique per requested label, so the locking needs to be at least as granular as that. Actually it might even be worth sticking with one clone and locking the write operation for a different label than the current checkout. If all concurrent requests are for "master" for example, they can all mak

[2014-09-26 08:20] JuanCarlosGonzalez opened #7 "vanilla test fails in JGitEnvironmentRepositoryTests in server"
After cloning the repo, run the mvn clean install and got the following error:

org.junit.ComparisonFailure: expected:<...classes/config-repo/[]bar.properties> but was:<...classes/config-repo/[file:/private/var/folders/9k/2k7ntkvj14ncy7dg5nf42hj00000gn/T/config-repo-5075686710249411088/]bar.properties>

Adding repository.setBasedir(basedir); as the first line in the test makes it pass.

[2014-09-27 02:30] spoon99 opened #8 "file:/ prefix require for Windows"
Current spring-cloud-config server doesn't work on windows environment.

I think on windows enviroment "file:/" prefix should added for git.getRepository().getDirectory().getParent();

[2014-09-28 15:18] btiernay opened #9 "Define the security model for Cloud Config"
It's not clear how one would protect the config server and ensure only authorized clients can access the configuration information contained therein. It would be nice to define the security model or future intentions in this regard.

[2014-09-29 13:59] #7 closed, assigned to nobody

[2014-09-30 20:47] ryangardner opened #10 "consider splitting the cloud-config-client up a bit to allow alternate implementations"
There are a lot of nice things about the cloud-config-client that would be applicable to anything that does configuration using a remote property source.

It looks like it should be possible to create an implementation of the `PropertySourceLocator` and with its `.locate()` method have it return a remotely-retrieved PropertySource.

The more generic pieces like the:
- RefreshScope
- EnvironmentMan

[2014-10-01 10:33] #8 closed, assigned to nobody

[2014-10-02 10:50] #10 closed, assigned to nobody

[2014-10-08 22:04] btiernay opened #12 "Remove remaining 'platform' references in docs"
Please see

https://github.com/spring-cloud/spring-cloud-config/search?p=2&q=platform&utf8=✓

[2014-10-13 13:17] #12 closed, assigned to nobody

[2014-10-13 13:18] #9 closed, assigned to nobody

[2014-10-13 13:19] #4 closed, assigned to nobody

[2014-10-15 17:02] achudzik opened #13 "Add "Building" section to docs"
Freshly cloned repo cannot be build:

[code]

[2014-10-16 13:11] achudzik opened #15 "Broken Travis build due to changes in asciidoctor generating scripts"
After changes from the [Simplify README generator](https://github.com/spring-cloud/spring-cloud-config/commit/f5d8c4b65c5cd8c25f2ba7abe86ab2ade118a20c) commit the [travis build](https://travis-ci.org/spring-cloud/spring-cloud-config/builds/37954416) stopped working.
It seems that preinstalled asciidoctor gem is missing.

[code]

[2014-10-16 15:55] achudzik opened #17 "Invalid main class for spring-cloud-config-server"
With changes b0c3642 (main function removed) and fdb6d0e (Application renamed) it's impossible to start server by `mvn spring-boot:run`:

[code]

or using `spring-cloud-config-server-1.0.0.M1-exec.jar` from [milestone repo](http://repo.spring.io/milestone/org/springframework/cloud/spring-cloud-config-server/1.0.0.M1/):

[code]

which stays in contradiction with all the documentation.

[2014-10-18 10:13] #15 closed, assigned to nobody

[2014-10-23 12:28] #17 closed, assigned to nobody

[2014-10-28 15:23] dsyer opened #21 "Bootstrap Config Server from its own remote repo"
This will make it more embeddable (in an application that itself wants to share the global configuration for example).

[2014-10-28 15:24] dsyer opened #22 "Make the bootstrap config.name or location more configurable"

[2014-10-28 15:29] dsyer opened #23 "Add a configurable prefix for the config resources"
E.g. `spring.cloud.config.server.prefix` (default empty).

[2014-10-29 15:01] #22 closed, assigned to nobody

[2014-10-29 15:03] dsyer opened #24 "Optimization: only use remote properties if application name or profiles change"
In a context hierarchy there's no sense in all contexts loading the same properties (and the parent will always have the remote values since it has to be initialized before a child is added).

[2014-10-29 15:13] #23 closed, assigned to nobody

[2014-10-30 18:44] spencerwi opened #25 "Support non-Boot client Spring applications"
In its current form, Spring Cloud Config is only good for software projects starting now using Spring Boot that anticipate scaling up in the future. Existing Spring webapps that do not use Spring Boot (even those on Spring 4...) can't make use of Spring Cloud Config at all -- at least, not according to existing documentation.

Spring Boot and Spring Cloud Config seem aimed at two totally-disjoint

[2014-10-31 03:19] ljramones opened #26 "Build issues with latest version"
It fails for me on building with this error

[code]

I noticed that you are building with this dependency

[code]

I can't find that in any of the repos and when I looked at its location in github https://github.com/dsyer/spring-security-rsa, ieee that it was rolled back to snapshot.

What am I missing?

[2014-10-31 11:24] #25 closed, assigned to nobody

[2014-10-31 15:42] #13 closed, assigned to nobody

[2014-10-31 16:16] #26 closed, assigned to nobody

[2014-11-06 16:02] joshlong opened #28 "Please externalize the default git label (branch) on config-server"
Please externalize the default git label (branch) on config-server.

[2014-11-07 22:36] szpak opened #30 "Properties added by @PropertySource annotation are not decrypted"
Decryption done in `EnvironmentDecryptApplicationListener` is performed before properties
added with `@PropertSource` are added and therefore they are not decrypted.

A test reproducing the issue was pushed in #29.

[2014-11-07 22:43] szpak opened #31 "On decryption failure Spring context initialization should fail"
In my opinion it would be better to throw exception in `EnvironmentDecryptApplicationListener` on decryption error rather than just clear property value. As a developer/devops I would like to get error immediately (context initialization failed, application is not available - red error in the monitoring system) rather than get an error a few hours/days later when the first database query is made o

[2014-11-08 01:13] btiernay opened #32 "Add spring-cloud-config-server ability to share common configuration across applications"
Right now it doesn't seem possible to share common configuration across applications. This might be a typical use case for certain types of configurations such as shared resources and system wide conventions. Perhaps it would be possible to add something conventional like a `bootstrap.yml` file for this purpose. Some ideas for naming here:
- `defaults.yml`
- `base.yml`
- `common.yml`
- `shared.yml

[2014-11-08 01:19] btiernay opened #33 "Add spring-cloud-config-server ability to configure "isolated" NativeEnvironmentRepository configuration"
It would be nice to be able to use the `native` profile and be able to specify a configuration file that doesn't include other properties from the `spring-cloud-config-server`'s environment such as `server.port`, admin path, etc. thus making it more "isolated". This would be similar to how `JGitEnvironmentRepository` currently works with repo contained files. It would be very useful when first sta

[2014-11-08 01:24] btiernay opened #34 "Add spring-cloud-config-server support for OAuth authorization with common web git repositories"
It would be much easier to interact with github, bitbucket, etc. if OAuth was supported. In this way, users could generate a personal application token instead of having to specify their own credentials. This would allow revoking of tokens independent of their account credentials, etc.

[2014-11-08 13:05] #32 closed, assigned to nobody

[2014-11-08 13:13] #21 closed, assigned to dsyer

[2014-11-08 13:13] #33 closed, assigned to dsyer

[2014-11-10 06:31] #34 closed, assigned to nobody

[2014-11-10 08:48] #28 closed, assigned to dsyer

[2014-11-10 09:59] #31 closed, assigned to nobody

[2014-11-12 11:50] genadyk opened #36 "Enhancement: add option to organize configuration files under folders"
In case one have 15-20 services, git repo for configuration service will end-up with 45-60 files all in root directory. It make sense to provide some simple convention for organizing files in folder per application. For example: if the configuration file is now {app}-{env}.yaml  it may be expected in folder /{app}

[2014-11-13 08:04] spencergibb opened #37 "ApplicationContext.id = 'application:XYZ' unless spring.application.name is set in application.yml"
When the `ContextIdApplicationContextInitializer` is run for the main context, it does not contain `bootstrap` yet, therefor it defaults the name to 'application' unless `spring.application.name` is also set in `application.yml`.  Context Id is used in the bus for uniqueness.

[2014-11-13 17:44] #37 closed, assigned to dsyer

[2014-11-14 00:22] wgorder opened #39 "Documentation clarification"
Just starting to play with this a little bit.  I had a question in the documentation it says

[code]

This for me gets a whitelabel error page on the sample project.  /env/foo works as does /foo/env.  Is this  a typo in the docs or a problem with the code?

[2014-11-15 15:53] #39 closed, assigned to nobody

[2014-11-17 13:44] #36 closed, assigned to nobody

[2014-11-24 15:38] shakuzen opened #43 "@RefreshScope doesn't work on bean annotated with @Configuration"
I am not sure the root cause is Spring Cloud Config, but since the `@RefreshScope` and refresh functionality is part of Spring Cloud Config, I thought I would start here. And perhaps this is expected behavior, but it was a surprise to me.

I basically followed the Spring Cloud Config tutorial [here](http://qiita.com/making@github/items/704d8e254e03c5cce546) but was including the `@Configuration` a

[2014-11-25 11:08] dsyer opened #44 "POST /env can be missing because of startup order"
POST /env can be missing because of startup order: sometimes the `EnvironmentEndpoint` bean is not created in time, so we need an additional `@AutoConfigureAfter`.

[2014-11-25 12:26] #44 closed, assigned to dsyer

[2014-11-27 07:40] dsyer opened #45 "Config Server broken on Windows (file locks)"

[2014-11-28 06:20] mdjnewman opened #46 "spring-cloud-config-server-1.0.0.M3 build doesn't work in Java 7"
When running the config server using version 7 of the JRE, I received the following error.

[code]

The line in question is:

[code]

I'm guessing this is related to the Build-Jdk for the package being 1.8.0 and [this Java compatability issue](https://gist.github.com/AlainODea/1375759b8720a3f9f094).

[2014-12-01 09:49] #43 closed, assigned to nobody

[2014-12-01 10:36] #46 closed, assigned to nobody

[2014-12-03 12:36] #45 closed, assigned to nobody

[2014-12-04 08:32] dsyer opened #48 "Log level refresh not working"
Might just be a eureka server problem (need to investigate).

[2014-12-04 15:20] #48 closed, assigned to nobody

[2014-12-05 02:38] #1 closed, assigned to spencergibb

[2014-12-05 14:35] dsyer opened #49 "Document failFast flag"
See #1

[2014-12-05 19:31] #49 closed, assigned to spencergibb

[2014-12-16 19:43] spencergibb opened #50 "Missing Bean ConfigClientProperties if spring.cloud.config.enabled:false"
Caused by: org.springframework.beans.factory.BeanCreationException: Could not autowire field: private org.springframework.cloud.config.client.ConfigClientProperties org.springframework.cloud.bootstrap.config.PropertySourceBootstrapConfiguration.configClientProperties; nested exception is org.springframework.beans.factory.NoSuchBeanDefinitionException: No qualifying bean of type [org.springframewor

[2014-12-16 19:55] #50 closed, assigned to nobody

[2014-12-17 22:34] scottfrederick opened #51 "Config server: fail fast when configuration source is not configured"
If the source location of configuration data is not configured, config server defaults to using the github URI of a demo repo: https://github.com/spring-cloud/spring-cloud-config/blob/master/spring-cloud-config-server/src/main/java/org/springframework/cloud/config/server/JGitEnvironmentRepository.java#L62.

If a location source is not specified via one of the acceptable config options (e.g. `sprin

[2014-12-18 17:10] #51 closed, assigned to dsyer

[2014-12-18 22:33] spencergibb opened #52 "Update jgit library to fix zero day vulnerability"
See https://github.com/blog/1938-git-client-vulnerability-announced

See https://projects.eclipse.org/projects/technology.jgit/releases/3.5.3

3.5.3.201412180710-r

[2014-12-18 22:42] #52 closed, assigned to spencergibb

[2014-12-18 23:56] mwibmer opened #53 "Broken Tests: EncryptionControllerTests"
Broken tests including randomizedCipher(), formDataIn(), decryptEnvironment(), sunnyDaySymmetricKey(), sunnyDayRsaKey()

[code]

breaks in encryptor.encrypt(data);

 Produces:

[code]

[2014-12-19 04:50] #53 closed, assigned to nobody

[2014-12-19 04:54] mwibmer opened #54 "Broken Test: JGitEnvironmentRepositoryTests"
JGitEnvironmentRepositoryTests failing;

[code]

[2015-01-05 00:27] mwibmer commented on #54
Environment:
   Windows 7 64 bit, Eclipse STS 3.6.2.RELEASE, Java 8
   Checked out MASTER https://github.com/spring-cloud/spring-cloud-config.git

Further to JGitEnvironmentRepositoryIntegrationTests.vanilla()
fails in DirCacheCheckout.doCheckout()
throw new CheckoutConflictException(conflicts.toArray(new String[conflicts.size()]));
ArrayList<String> conflicts contains [application.yml]

Upgraded

[2015-01-05 13:36] Vad1mo opened #55 "Git SSH Deployment keys as alternative to username/password"
username/password has the drawback that they a tied to a human or a technical user.
There is also the possibility to access the repository not only with username/password but also with ssh keys.
Does spring-cloud-config support ssh keys?

[2015-01-06 16:52] dsyer commented on #55
See also discussion in #34: my impression from there was since github uses HTTP basic for token authentication it would work anyway with no changes.

@btiernay said in #34 that he was going to open a new ticket and contribute something. So far nothing happened. What would you propose?

[2015-01-06 17:07] Vad1mo commented on #55
Thank you Dave. Advantage of SSH Keys vs. OAuth is that this is git standard. I will try out the suggestions mentioned #34 and see how far we get.

[2015-01-07 02:50] btiernay commented on #55
@dsyer Sorry for the delay. I got pulled in a different direction and haven't had a chance to tackle this. I plan on coming back to #34 eventually if no one takes it in the meantime. Cheers.

[2015-01-11 22:08] crusi opened #56 "Can't change bootstrap properties location"
I can't change the location of the bootstrap.properties file during startup with --spring.cloud.bootstrap.location=...

It looks like a copy/past error in line 95 of [BootstrapApplicationListener](https://github.com/spring-cloud/spring-cloud-config/blob/master/spring-cloud-config-client/src/main/java/org/springframework/cloud/bootstrap/BootstrapApplicationListener.java#L95)?

[2015-01-12 20:10] warmuuh opened #57 "Configurable PropertySource priority (for property sources from config server)"
I was wondering, if there is a possibility to configure the priority of the added "bootstrap"-proprtySource on client side. currently, it has highest priority, even higher than system-environment or startup-parameters. I would have thought that it should be after jvm parameters, just like normal application.properties. I actually reorder this propertySource via applicationInitializer. Is there a w

[2015-01-12 22:05] iceycake opened #58 "Supporting multiple git repositories?"
Instead of a single git repository, does Spring Cloud Config Server plan to support more than 1 git repository?  If running Spring Cloud Config Server as a central config management server, it may have ownership concerns on having hundreds or thousands different application configurations in a single git repo.

[2015-01-13 09:50] warmuuh commented on #58
also the whole branch-stuff becomes a bit dirty because if you have e.g. a branch for app1, version X and a branch for app2, version Y, the Y-branch should not contain any artefacts from app1, but master then contains all artefacts? also the branch-naming should then be explicit (i.e. with prefix) to differentiate.

[2015-01-13 19:34] brianlaframboise commented on #58
I second this. Our current configuration solution involves one git repository per application so that a) each application's configuration is isolated from all others and b) each git repo can have its own set of permissions (administered in GitHub). It would be great if Spring Cloud Config Server could support a similar setup.

@warmuuh As for the isolation, a possible workaround would be to create

[2015-01-13 21:47] dsyer commented on #57
I don't think that's a great default. the point of a centralized config server is that it is the authoritative source of external properties. What is the use case exactly where you need to re-order?

[2015-01-13 21:50] dsyer commented on #58
I don't think it would be terribly difficult to implement a git-repository-per-application version of `EnvironmentRepository`. If anyone wants to contribute some code, please feel free (see the guidelines on contributing in the readme).

[2015-01-13 21:52] iceycake commented on #58
I will give it a shot since this is a deal breaker for the project.

[2015-01-13 21:52] dsyer commented on #56
Why did you think that was a copy/paste error? What did you do exactly and what did you observe? (I believe there are tests for changing the bootstrap location that work just fine.)

[2015-01-13 22:33] brianlaframboise commented on #58
@dsyer it might be a little more complicated than that. Currently the `encrypt.key` value is global to the Spring Cloud Config Server. Supposing @iceycake implements such an `EnvironmentRepository`, the Config Server would still allow any client to decrypt any other project's encrypted values.

I know this behaviour is the current stated design of the Config Server. However, assuming we want the C

[2015-01-14 09:49] warmuuh commented on #57
i grasped cloud-config as a way to externalize and centralize all configuration normally done via application-xx.properties. that means, it will act as a replacement. looking at [spring-boot reference](http://docs.spring.io/spring-boot/docs/current-SNAPSHOT/reference/htmlsingle/#boot-features-external-config), the system-properties have higher priority. honestly, i am used to the "override-by-jvm-

[2015-01-14 10:05] dsyer commented on #57
I guess it depends on how much of a control freak you are. One of the points of a central config server might be to disallow local overrides of some properties, which explains the current implementation. But making it configurable seems sensible. Maybe even per application via its own external properties.

[2015-01-14 11:54] crusi commented on #56
Hi,

we want to change the location of the config server by defining a bootstrap.yml/properties on certain environments. There was no test until now. I addd one in the pull-request with an external bootstrap.properties

Let's assume i have a spring boot application configured with spring cloud config client here:

*/opt/portal/portal.jar*

which has in the classpath a bootstrap.yml like this:

[co

[2015-01-14 16:59] NickPadilla opened #60 "Question on Environment Changes"
Hello,

When a change is pulled from the remote git repository do all services with the changed configuration get the changes automatically?  Or do we need to call the /refresh or /restart endpoints on those services?

I made a change to the repository and the changes didn't get pulled until the next call for a configuration was made.  That is fine, but when that happens do all other services get

[2015-01-14 17:43] NickPadilla commented on #60
OK, after doing a bit of testing I have found that updates to configurations do not automatically propagate to the services.  The new configurations are pulled when a request for a configuration resource comes in, only the resource that triggered the pull gets the updated configuration.  So this setup should work well for rolling updates.

Now having said that, is there a way to trigger an update

[2015-01-14 17:48] spencergibb commented on #60
[See here](https://github.com/spring-cloud/spring-cloud-bus/#quick-start).  In short you can post to `/bus/refresh?destination=<serviceId>`.  If you leave off the `destination` parameter, it will go to all services bound to the bus.

[2015-01-14 17:48] #60 closed

[2015-01-14 18:38] Vad1mo opened #61 "propagate profile info to spring-config clients"
Hello
this might be a bit off topic as it is only directed to a cloud config client.

We have a zone where all microservices have one and the same profile (prod/te/dev) currently we start each microservice with spring.profiles.active and the url to the config server.
IMHO providing the spring.profiles.active for each microservice is redundant as it can be also retrieved from the config-server. So

[2015-01-15 15:44] roykachouh opened #62 "Running ApplicationTests from IDEA results in an IllegalArgumentException"
When running `ApplicationTests` individually from your IDE, the test fails because `JGitEnvironmentRepository#copyFromLocalRepository` does not recognize the path 'file:./target/test-classes/config-repo' as a file.  This is primarily due to the IDE working directory when running tests defaults to the parent project.  We can easily change the working directory in our Run configuration, but I though

[2015-01-15 16:10] dsyer commented on #61
If the config server sets a profile it should apply in all the clients. Did you try it and it didn't work?

[2015-01-15 16:12] dsyer commented on #61
If you want to change the profile in a running server though, you need to restart the application context (or the whole application). There is a /restart endpoint (and support in the bus), but your environment might provide a clean way to automate it using some other mechanism.

[2015-01-15 16:15] #56 closed

[2015-01-15 16:17] dsyer commented on #62
Since it works in Eclipse (and on the command line), I guess I need a suggestion of what might work for everyone. Maybe a tmp dir?

[2015-01-15 16:28] dsyer commented on #58
The decrypt endpoint is only used (if at all) for local properties in a client. The config server does decryption before shipping configuration, so it could in principle be modified to use a different key per repository (or per app). There would still be some challenges with key management.

Unless someone has a bright idea about the key management, wouldn't it be quite useful to stick with a glob

[2015-01-15 17:14] roykachouh commented on #62
Yeah, I think a tmp dir might make sense.  It's not a huge deal, I can take a look at implementing this if you would like.

[2015-01-15 18:17] iceycake commented on #58
As for our use case, I believe we can live with a global key on the config server because all of the repositories are under the same organization.  I understand there is a need of different keys in different use case but my implementation will try to stick with a single key.

[2015-01-15 18:29] dsyer commented on #62
Sure that would be good. Just be careful in case there is no tmpdir (not uncommon in CI servers).

[2015-01-15 22:18] brianlaframboise commented on #58
To be clear I don't yet actually have that use case either. I could live with a shared encryption key for now as well.

I just assumed that if @iceycake needed properties in separate repos then they should be encrypted with different keys for maximum isolation.

[2015-01-16 14:44] jvalkeal opened #63 "Config from local git repo not updated"
In my bootstrap.yml I have:

[code]

Create local repo:
[code]

Check what config server gives:
[code]

Looks ok, lets update appmaster.yml in git repo:

[code]

Check what config server gives after restart:
[code]

Didn't update. lets check cloned repo:
[code]

It looks like repo is cloned once and never updated.

[2015-01-16 16:31] #57 closed

[2015-01-16 16:33] dsyer commented on #63
Currently we copy all the files if the URL starts with file:/. It's supposed to be an optimization. IIRC it's completely foobar on Windows if you don't do something like that, but we'll have to find a workaround

JGit can use a local file system repo as a real repo (cloning it and not just doing a file copy) but then you have to use SSH to authenticate, which is a pain to configure.

[2015-01-17 14:50] Vad1mo opened #64 "Simpler Spring Cloud Config approach"
I am trying to integrate spring cloud config into our docker micro-service architecture.

Currently spring-cloud-config propagates a client service architecture.
[GitRepp] <---accessedBy--- [Config Server]  <---accessedBy--- [Config Client 1..N]

In our case the Config Server is just a main method with all the overhead of (git, gradle, jenkins, docker, versioning, jira, testcases and many more) Th

[2015-01-17 15:35] szpak commented on #64
I'm not the author of spring-cloud-config, but for me the primary reason could be a situation when you would like to separate the infrastructure (Git repository) using another (micro)service to provide configuration. That facade just could be possibly replaced when (for some reasons) Git is not welcome anymore. Probably Dave will have more interesting arguments for that architecture.

Nevertheless

[2015-01-18 14:18] Vad1mo commented on #64
I am trying to challenge if having a dedicated config server has any benefit over declaring Git as the config server and merging spring-config-server and sprint-config-client together.
Having an config-server with no added custom code is very suspicious to me for its existence.

[2015-01-18 16:20] Vad1mo opened #65 "spring.cloud.bootstrap.enabled=false causing NoSuchBeanDefinitionException"
The config-server is not ment to bootstrap itself by fetching the configuration from localhost:8888. This makes sense because the server in question is being started. So for this reason I wanted to disable the bootstrap process for the config-server.

[code]

The error I get is this:
[code]

[2015-01-18 16:31] dsyer commented on #62
There's already some code to deal with this situation in a different test case I noticed: https://github.com/spring-cloud/spring-cloud-config/blob/master/spring-cloud-config-client/src/test/java/org/springframework/cloud/bootstrap/config/BootstrapConfigurationTests.java#L86. Maybe you could extract that and re-use it?

[2015-01-19 09:26] dsyer commented on #65
It works for me (and "false" is the default anyway). Can you be a bit more specific about what you did (sample project maybe)?

[2015-01-19 09:39] Vad1mo commented on #65
Basically I had a config server and client in one microserver. I was trying to get rid of the config server being an own instance. Maybe this was a not so good idea

[code]

[2015-01-19 09:54] dsyer commented on #65
Sounds like you mean to use `spring.cloud.config.server.bootstrap=true` then? (It needs to go in the `bootstrap.yml` and you probably need `spring.cloud.config.enabled=false` in `application.yml`.)

[2015-01-19 10:04] Vad1mo commented on #65
I forgot to add  `spring.cloud.config.server.bootstrap=true` in my last post But I had that entry.
The only thing I did different was `System.setProperty("spring.cloud.bootstrap.enabled","false")` because it did had any effect if it was in application.yml because it is loaded after bootstrap.yml and then it is already to late.

[2015-01-19 10:58] dsyer commented on #65
If you set `spring.cloud.bootstrap.enabled` then you don't get any config client features, so I don't know what you were trying to do (there's still possibly a bug if you get that exception, but I think it doesn't happen with a normal client that isn't also trying to be a server). Can you explain your use case a bit more?

[2015-01-19 11:08] Vad1mo commented on #65
When the client is also the server then the client also tries to bootstrap itself from itself during startup. Thats why there is always a error message (I/O Exeception) during service start saying the the client could not connect to itself. I was looking for a way to get rid of this error message and thought `spring.cloud.bootstrap.enabled=false` would disable the bootstrapping process and not the

[2015-01-19 11:16] dsyer commented on #65
Try `spring.cloud.config.enabled=false` (you don't want to disable the whole bootstrap). Example here: https://github.com/spring-cloud-samples/configserver/blob/master/src/main/resources/bootstrap.yml.

[2015-01-19 15:08] #63 closed

[2015-01-19 16:53] #65 closed

[2015-01-19 17:44] spencergibb commented on #64
Encryption is one thing that comes to mind.  Right now only config server needs to know about the keys, otherwise, every service would need to know about the keys.

[2015-01-20 10:33] dsyer commented on #64
The server separates concerns of application and configuration. You could do that with your build and deploy toolchain for sure (by storing the configuration in a different repository and checking it out during deployment), but that's not the only choice, and it's not available to everyone. I would say, though, to keep the separation clean, it needs to be done at deployment time, not at build time

[2015-01-20 17:58] Vad1mo opened #66 "Don't fail silently if the remote YML file is not correct."
We spent almost the whole day trying to figure out why spring-cloud-config suddenly stopped working.

At the end of the day we found out that some yml files had tab idents instead of the needed spaces.
With local yml files you get an exception when something is wrong with the syntax.  But if you have an incorrect yml file in the git repo you just get a 500 error and no stack track or any other inf

[2015-01-21 05:53] ashley7070 commented on #66
I had the exact same problem this morning. I had two files in my repo, config.properties and config.yml. The config server stopped working because of the yml issue.

[2015-01-21 05:55] ashley7070 commented on #66
The config server shouldn't throw a 500 if the the config(properties or yml) file cannot be parsed.

[2015-01-21 10:37] dsyer commented on #66
Why? 500 seems like the most obvious status code if there is an error in the input data.

Actually you get an ERROR log with the exception message. The stack trace would not be very helpful (on the client that is). Or are you talking about the server (maybe we could log the error there)?

[2015-01-21 10:49] Vad1mo commented on #66
The error code 500 is alright If we "must" to provide an error code.
Important is that Cloud-Config should not fail silently (client or server) by just returning 500.  Because without a context the 500 code can mean anything and I suppose this is what @ashley7070 had im mind.

[2015-01-21 10:53] dsyer commented on #66
You can set `spring.cloud.config.failFast=true` if you want to fail fast on the client. I'll have a look at making the error logs more informative.

[2015-01-21 11:03] ashley7070 commented on #66
I don't mind the 500 error code. The problem I have is that the config-server fail to serve my other properties/yml if it fails to parse one(or more) properties/yml file. Ideally it should throw an error in the logs but still be able to serve my other "properly" formatted properties/yml files.

[2015-01-21 11:31] dsyer commented on #66
You lost me there I'm afraid. IMO if there's an error we should make it more visible, not less visible. However, if you disagree and want to change it, it's in Spring Boot where you should look to make the change, since Spring Boot is responsible for parsing the config files and turning them into property sources.

[2015-01-21 11:50] dsyer opened #67 "Config Server logger levels set to NONE?"
I'm not seeing any logs from the config server itself (only from Spring MVC etc). Can't how they are being shut off either.

[2015-01-21 13:36] dsyer commented on #66
It seems like #67 probably has a bearing on this as well. Possibly even if we figure out what's going on there this issue won't matters so much or at all.

[2015-01-21 14:37] dsyer commented on #67
Wow, it was entertaining to track that one down. It turns out that when a `SpringApplication` fails to start, it can leave the logging system in its "preInitialized" state (i.e. suppressed by the `AbstractLoggingSystem.beforeInitialize()`). The best way to deal with that seems to be to exclude the `LoggingApplicationListener` completely from the mini-application that is used to initialize the `Env

[2015-01-21 14:45] #66 closed

[2015-01-21 14:45] #67 closed

[2015-01-21 14:45] #64 closed

[2015-01-21 22:10] ashley7070 commented on #66
If you could point your config server to my [repo](https://github.com/ashley7070/microservices-lab-configuration/tree/patch-1), it would make more sense.

Doing a GET on the config server returns a 500 even though my config-client.properties is well formatted. It fails because it failed to parse config-client.yml.

Shouldn't the config server still work in this case and not break completely?

[2015-01-21 22:12] dsyer commented on #66
In my opinion (again), no, it should not. It should be all or nothing - you either have correct input data or not. If you disagree that's fine, but we'd need to discuss in a new issue now that this is fixed (IMO).

[2015-01-23 17:36] dsyer opened #69 "ConfigClientProperties exposes a modified version of its "uri" property in the getter"
Since we use `BeanUtils` to copy properties it goes blindly to the getters and setters, but the getter is modifying the URI to pull out the credentials for a RETS call. We can fix it just by renaming that method. Problem manifests itself in the /health indicator of a config client that has a username/password for the server (fails to fetch properties for health check).

[2015-01-23 17:40] #69 closed

[2015-01-27 14:49] efenderbosch opened #70 "configuration inheritance?"
We have several applications that all use the same database/redis configuration. Is there a way to have the config for multiple apps inherit from a common config? I've looked through the examples and don't see that this is possible.

Something like:

/common.yml
/app1.yml
/app2.yml

common.yml has our spring.datasource and spring.redis config and app1.yml and app2.yml have properties specific to t

[2015-01-27 15:54] spencergibb commented on #70
all apps get the configuration in `application.{yml,properties}`, both `app1` and `app2` would override (or get default) properties from there.

[2015-01-27 15:54] #70 closed

[2015-01-27 19:11] efenderbosch opened #71 "What is the expected property override behavior?"
I checked out https://github.com/spring-cloud-samples/configserver and ran mvn clean spring-boot:run.

When I hit http://localhost:8888/application-docker.yml, one of the resolved properties is

[code]

Looking at https://github.com/spring-cloud-samples/config-repo/blob/master/application.yml, I would expect ``eureka.client.serviceUrl.defaultZone`` to resolve to ``http://localhost:8761/eureka/`` i

[2015-01-27 19:35] spencergibb commented on #71
Good question, when you hit http://localhost:8888/application/docker
[code]
It may be a bug or a limitation of how we are writing out the yaml, not sure.

[2015-01-28 14:13] #71 closed

[2015-01-28 14:21] Vad1mo opened #72 "alternative to fail fast"
We start all the container and services at the same time. So it happens that some container that depend on a configuration from the config-server need to be refreshed after they started. In our case it is a manual work.

It would be handy if there was an additional option in config client. Something like "retryBeforeFail" = 10 so it would retry to fetch the config 10 times with a 2 seconds pause a

[2015-01-28 21:32] spencergibb opened #73 "Error deploying two config clients in one container"
Each war tries to register 'org.springframework.cloud.context.environment.EnvironmentManager' in jmx but there should be only one.

Spring cloud version - 1.0.0.RC1

Refer below link for details:
http://stackoverflow.com/questions/28197414/spring-cloud-error-deploying-two-eureka-clients-in-one-container

Reported by @vibhaanshu https://github.com/spring-cloud-samples/eureka/issues/8

[2015-01-28 22:47] spencergibb opened #74 "logging.level. properties not being picked up when coming from remote config repo"
They show up in `/env`, but the logging system must be already initialized by then.

[2015-01-28 22:47] spencergibb commented on #74
see http://stackoverflow.com/questions/28198647/managing-logging-level-using-configserver

[2015-01-29 09:03] dsyer commented on #73
I don't think this is a Spring Cloud question - it's just a feature of Spring Boot and JMX. You can set `spring.jmx.default-domain` to something different in each application or provide your own `ObjectNamingStrategy` or your own `@EnableMBeanExport` (with a unique `defaultDomain`).

[2015-01-29 09:03] #73 closed

[2015-01-29 12:01] vibhaanshu commented on #73
Thanks, dyser. One observation..

In file ```https://github.com/spring-projects/spring-boot/blob/master/spring-boot-actuator/src/main/java/org/springframework/boot/actuate/autoconfigure/EndpointMBeanExportProperties.java``` property is ```${spring.jmx.default_domain:}``` instead of ```${spring.jmx.default-domain:}```.

Can you please have the docs updated..

[2015-01-29 12:43] dsyer commented on #73
Which docs? Actually that's a bug I think (it should be "-" everywhere). In any case can you raise an issue in Spring Boot, please? But maybe you can set `endpoints.jmx.domain` to fix your problem?

[2015-01-29 13:14] vibhaanshu commented on #73
I tried with ``` endpoints.jmx.domain```, but it did not work. For now using ```spring.jmx.default_domain```

[2015-01-29 14:26] #62 closed

[2015-01-29 15:07] DimitriHautot opened #76 "Config server should be able to reload its own, isolated settings"
Currently, `application.[yml|properties]` is used as the common ancestor to all `Environment`'s served to client applications, and also used to setup the Config server. Right?

In order to hide these config. server settings to the client applications, one can put them in `bootstrap.[yml|properties]`, but then they cannot be refreshed by a POST to `http://<config-server>/admin/refresh`.

Is there a

[2015-01-29 17:48] spencergibb commented on #76
you could put it in [configserver.yml](https://github.com/spring-cloud-samples/config-repo/blob/master/configserver.yml)

[2015-01-30 11:47] dsyer commented on #76
The config server can load properties locally from its own classpath, and also update them with POSTs to the normal refresh/update endpoints. These should not leak into the client environment endpoints (and `bootstrap.yml` is part of the same `Environment` so if one is hidden the other is).

[2015-01-30 11:47] #74 closed

[2015-01-30 12:14] DimitriHautot commented on #76
Thanks for the suggestions, I'll dig into these directions.

[2015-01-30 12:14] #76 closed

[2015-02-03 23:42] iceycake commented on #58
I finally able to allocate the upcoming few days to work on this issue.  Currently, the endpoints look like something like

<pre>
   /{name}/{profiles}/{label}
</pre>

I am wondering if it is acceptable to do something like:

<pre>
   /{name}/{profiles}/{label}?repo=team1
</pre>

where we have the repo name defines in the properties like:

<pre>
   spring:
      cloud:
         config:

[2015-02-04 06:29] dsyer opened #78 "When failFast is false the log still says "failFast is set" if there is an error in the client"

[2015-02-04 06:38] dsyer commented on #58
I think it's better to hide the repo IDs from the client. You would need to know (and configure) which apps belong to which repo, but isn't it better to do that in a static way? E.g.

[code]

The wildcard in the fallback repo can probably be optionally omitted (and `spring.cloud.config.server.git.uri` could be used as a default for the fallback, so existing apps would continue to work).

[2015-02-04 10:46] #78 closed

[2015-02-04 12:55] iceycake commented on #58
In our use case, the config server deployment is developer self serving.  As a result, we will not know what app associates to what team/repo.  In addition, app name collision can happen with the number of development teams we have.  That's why associating the app name and repo id is a bad idea.

[2015-02-04 12:59] dsyer commented on #58
I suspect it might be better in that case to concatenate the repo name with the app name?

[2015-02-04 13:07] iceycake commented on #58
This would work.

<pre>
   http://configserver/team1-{name}/{profiles}/{label}
</pre>

<pre>
spring:
  cloud:
     config:
        server:
           git:
              repos:
                 team1:
                    uri: http://gitserver/team1/config-repo
                    apps: team1*
                 team2:
                    uri: http://gitserver/team2/config-repo
                    app

[2015-02-04 14:09] dsyer commented on #58
Cool, so all we need is a `PatternMatchUtils` to filter the repository list before we finish the find? That probably means we can implement this feature as a very thin wrapper around the existing `JGitEnvironmentRepository`.

[2015-02-05 02:55] ctatineni opened #79 "Property source"
apart from local and git property sources is it possible to use Redis as a property source?
i think with the archaius we can define the custom configuration manager so that it can read from Redis, i saw somewhere in the spring cloud documentation that it is not recommended to use.
Any suggestions would be appreciated.

[2015-02-05 09:06] dsyer commented on #79
You can use whatever source for properties you like. Documentation is here: http://projects.spring.io/spring-cloud/spring-cloud.html#customizing-bootstrap-property-sources (source code [here](https://github.com/spring-cloud/spring-cloud-config/blob/master/docs/src/main/asciidoc/spring-cloud-config.adoc) if you want to improve it).

[2015-02-05 13:22] #61 closed

[2015-02-05 13:23] dsyer opened #80 "ConfigurationPropertiesRebinder should re-initialize InitializingBeans"
`ConfigurationPropertiesRebinder` should re-initialize `InitializingBeans` otherwise there might be some state changes missing compared to when the initial binding happens on startup.

[2015-02-05 13:25] #80 closed

[2015-02-05 15:10] bsideup opened #81 "Per app security?"
We want to use spring-cloud-config single server for all environments (dev, prod), but dev application shouldn't know anything about prod environment, because it's business critical.

Is it possible to configure security for each app?

For example:
[code]

[2015-02-05 16:21] spencergibb commented on #81
are you talking about web security for the app or security for accessing the config server?  I'm not sure having one config server for dev and prod is such a good idea.

[2015-02-05 17:13] bsideup commented on #81
Security for accessing the config server.

Why not?

[2015-02-05 17:32] spencergibb commented on #81
Security is implemented using vanilla spring-security.  You can certainly implement each app having a different user.

[2015-02-05 17:51] dsyer commented on #81
You could probably add a `@PreAuthorize` layer that matched the appname with the username as well, but I'm not sure I want to go there yet (certainly not for 1.0). I don't think it would be hard to add for specific use cases, just a bit tricky to get it right and support the current behaviour as well. Maybe you should try it and see if it makes sense once you have it working?

I have a suspicion t

[2015-02-05 18:23] bsideup commented on #81
@dsyer developers don't have access to config's repository. It's managed by infrastructure administrators.

[2015-02-05 18:26] dsyer commented on #81
It doesn't matter what you call them, really. Someone has access to the whole repository, and someone has to configure the config server credentials in each app when it runs. Whoever does that knows your production credentials anyway. What's the scenario you want to protect against?

[2015-02-06 10:17] #79 closed

[2015-02-06 16:19] efenderbosch opened #83 "Multiple root configs?"
We are investigating using Cloud Config. Use cases are standing up our various Spring Boot services and providing a single place to configure ngnix.

Is there a way to have multiple roots?

Something like:

[code]
So when Spring Boot `springboot1` requests its config, it would get a mash up of "application.yml" and "springboot1.yml" with the proper profiles applied. Same for Sping Boot `springboot

[2015-02-06 16:43] efenderbosch commented on #83
Looking at the code a bit, is the solution to create my own NgnixEnvironmentController that delegates to a NgnixEnvironmentRepository that uses "ngnix" as the root instead of "application"? I'd likely need another controller anyway to populate a freemarker template instead of simply returning yaml.

[2015-02-06 19:26] efenderbosch commented on #83
I now have a ``NgnixEnvironmentController`` and ``PrefixedEnvironmentRepository`` which uses a specified prefix instead of "application" like ``SpringApplicationEnvironmentRepository``. I did end up copying a fair bit of code from ``SpringApplicationEnvironmentRepository``. I think a better solution would be to make ``SpringApplicationEnvironmentRepository`` accept a prefix that defaults to "appli

[2015-02-07 00:20] iceycake commented on #81
We are probably going to use the config server for both non-prod and prod env.

Since the password/credential is going to be encrypted and stored in git, it is not an issue on having developers accessing git.  We are also planning to lock down the config server cluster by LDAP using Spring Security so only the authorized people/app can access the RESTful endpoint.  Finally, we are going to put Con

[2015-02-07 22:30] dsyer commented on #83
This is probably also relevant (a way to separate your apps from each other a bit more): https://github.com/spring-cloud/spring-cloud-config/pull/82

[2015-02-07 22:32] dsyer commented on #83
Question: what's the point of profile specific nginx config if "it wouldn't get any settings from application.yml or the profile specific version"?

[2015-02-09 15:34] efenderbosch commented on #83
We're using gitlab and that doesn't seem to be playing nicely w/ JGit, so we've been testing using local config files w/ a "native" profile. I don't think we can use the solution from #82.

We do want our ngix config to be profile aware, it just should be completely separate from the application.yml tree.

[2015-02-09 16:11] dsyer commented on #83
I don't think local files are a good solution for production applications. What is it with gitlab?

[2015-02-09 19:18] efenderbosch commented on #83
Ideally we'd like to work similar to how gitlab and Jenkins work together. We simply added the ssh key that's on our CI box to the read-only deploy keys of our various projects.

Apparently I was doing something wrong before, because now I can fetch from our private gitlab instance just fine. #82 or something very similar should work for our use case, provided we can somehow configure it to popula

[2015-02-09 19:29] iceycake commented on #83
To clarify, our organization is using gitlab CC edition and it works well with JGit.  https://github.com/spring-cloud/spring-cloud-config/pull/82 was implemented and tested with gitlab.

[2015-02-09 19:31] dsyer commented on #83
I don't see the need for templates yet. Can you make that a new issue, or morph this one (if we agree that #82 is sufficient for your needs), and explain a bit more?

[2015-02-10 15:19] efenderbosch commented on #83
I'll see if I can get an example of what we are looking for from the guy who maintains the ngnix configs.

In the meantime, this is the controller I've put together to render using a template that's in the remote git repo.

https://gist.github.com/efenderbosch/c66f78fc5f7c1318ffe0

[2015-02-11 19:55] BoomerBrian opened #84 "spring-cloud-starter is missing spring-security-rsa causing spring-cloud-client to fail to do local decryption"
I am having a hard time getting {cipher} to work correctly with a configserver and a boot app that is using the config server. Here are some examples.

App A - Spring Boot Config Server
App B - Spring Boot app using the Config Server

configserver (App A) application.yml

[code]

boot app (App B) bootstrap.yml (Note: I have also tried this in the application.yml as well)

[code]

When I start up A

[2015-02-11 20:01] spencergibb commented on #84
Unless you configure the config server client (App B) with the same key as the config server (App A), App B will not be able to decrypt the same ciphers as the config server.

[2015-02-11 20:04] spencergibb commented on #84
Default behavior is for the config server to decrypt values before sending them to the clients.

[2015-02-11 20:31] BoomerBrian commented on #84
App A and App B both have the same ENCRYPT_KEY. I have it set as an environment variable.

[2015-02-11 21:08] spencergibb commented on #84
are these servers both on the same machine? You have the Java Cryptography Extension (JCE) Unlimited Strength Jurisdiction Policy Files installed in the JVM?  http://projects.spring.io/spring-cloud/spring-cloud.html#_encryption_and_decryption

[2015-02-11 21:22] BoomerBrian commented on #84
Yes they are both on the same machine and Yes I installed JCE in the JVM.

I can start up the config server and encrypt/decrypt using curl just fine.

[2015-02-11 22:16] spencergibb commented on #84
The `spring-cloud-starter` is missing `spring-security-rsa`.  Good catch.  Add the following to your pom (or equivalent) to work around the issue

		<dependency>
			<groupId>org.springframework.security</groupId>
			<artifactId>spring-security-rsa</artifactId>
		</dependency>

[2015-02-11 23:57] iceycake commented on #84
I have the same issue even I added the security-rsa dependency.  If I put clear text password on App B, it works but {cipher} password I got the 401 error.

[2015-02-12 00:49] spencergibb commented on #84
@iceycake There is some other issue then.  Any additional details you could provide.

[2015-02-12 01:08] spencergibb commented on #84
@dsyer `spring-security-rsa` is optional in the `spring-cloud-config-client` pom.  Should we add it to the starter or document that you need to add `spring-security-rsa` if you want client side decryption?

[2015-02-12 01:41] BoomerBrian commented on #84
I added the spring-security-rsa to the Pom and I am still seeing the same issue.

[2015-02-12 01:44] iceycake commented on #84
@spencergibb Let me know if i should open another Issue.

I have 2 servers running Config Server and App A.  Only Config Server has the keystore while App A only has the encrypted password to access the Config Server.  I received the following error when I startup App A.  However, if I put clear text password on App A, everything works fine.

<pre>
2015-02-11 17:42:36.648 ERROR 95100 --- [lication

[2015-02-12 02:05] spencergibb commented on #84
@iceycake App A would have to have the same keyStore, otherwise it can't decrypt.

[2015-02-12 02:06] spencergibb commented on #84
@BoomerBrian I reproduced and fixed the issue you were seeing by adding `spring-security-rsa`.  Do you have some sample code I could see?

[2015-02-12 03:49] iceycake commented on #84
@spencergibb If App A also needs the same keyStore, that's the problem.  The Config Server contains encrypted credentials for the production properties so that no developer is able to gain access to them.  If the Config Server Client requires the same keyStore, developers can decrypt the encrypted credentials using the same keyStore.  If that's the case, what is the point to have encrypted passwor

[2015-02-12 07:12] dsyer commented on #84
Yes you are missing something. If you need to do decryption in a remote app it needs to have a key. It doesn't have to be the same key as the server.

Or you could use an environment variable rather than the config file for the config server password (it's more flexible that way because you can run in multiple environments).

[2015-02-12 08:03] ccit-spence commented on #55
Is username/password still working with bitbucket?  Using 'git.uri' https://uname:pwd@bitbucket.org/etc...

[2015-02-12 08:06] dsyer commented on #55
It would work if bitbucket supports HTTP basic authentication (JGit handles it AFAIK). Why would it not?

[2015-02-12 08:08] ccit-spence commented on #55
I have used it before with Bitbucket, started working on setting up a config server and now getting this error: `Authentication is required but no CredentialsProvider has been registered`

[2015-02-12 08:10] ccit-spence commented on #55
To clarify using YAML
    Spring:
        cloud:
            config:
                server:
                    git:
                        uri: `URL HERE`

[2015-02-12 08:17] dsyer commented on #55
OK, I guess JGit handles it if you register a handler. I think it's a static method call so you can do it anywhere (from memory). Check the JGit documentation / forums and if you get something working that we can incorporate into this project that's great.

[2015-02-12 08:39] ccit-spence commented on #55
Not sure exactly where yet, but I did have it working in 1.0.0.M2  Something must have changed since then.

[2015-02-12 09:06] ccit-spence commented on #55
I have verified with M2 it worked.  M3 up to RC2 it fails.  RC1 has the error that I am seeing now.

[2015-02-12 10:03] ccit-spence commented on #55
Figured it out.  Nothing needed to change.  I was not injecting the properties the way the environment properties were being read into the `JGitEnvironmentRepository.java` class.

Before:
[code]
After:
[code]

[2015-02-12 10:23] #58 closed

[2015-02-12 10:26] dsyer commented on #84
Going back to the original topic of this issue. I prefer not to add RSA to the starter since it really is optional (even though it's a tiny jar).

[2015-02-12 19:23] BoomerBrian commented on #84
@spencergibb Below are the two projects that you can run to replicate the issue.

https://github.com/BoomerBrian/testconfigserver.git
https://github.com/BoomerBrian/testbootapp.git

[2015-02-12 19:34] dsyer commented on #84
Is there a stack trace or something? How does it not work?

[2015-02-12 19:45] BoomerBrian commented on #84
No stacktrace @dsyer Just the following:

`GET request for "http://localhost:8888/LoadBalancerService/dev/master" resulted in 401 (Unauthorized); invoking error handler`

[2015-02-12 19:55] dsyer commented on #84
And if you look at the /trace on the configserver you see a request coming in with the encrypted password.

[2015-02-12 20:10] BoomerBrian commented on #84
This is what I see on the config server. Is there a way to make it log the password?

`AuditEvent [timestamp=Thu Feb 12 14:09:03 CST 2015, principal=user, type=AUTHENTICATION_FAILURE, data={message=Bad credentials, type=org.springframework.security.authentication.BadCredentialsException}]`

[2015-02-12 20:44] BoomerBrian commented on #84
When debugging through the RestTemplate code the password being passed on the GET is the {cipher}fedcbf7b7eb206f84c29baa205a4090546c2b7b59523076958a5ea5d8eddd116. Shouldn't the boot app have decrypted the password before making the GET call to the config server?

[2015-02-12 22:07] dsyer commented on #84
Did you set the `encypt.key`?

[2015-02-12 22:19] BoomerBrian commented on #84
Yes. ENCRYPT_KEY was set in both the config server and boot app. I used an environment variable.

[2015-02-13 02:26] spencergibb commented on #84
@dsyer the `EnvironmentDecryptApplicationListener` is not running in the bootrap context.  It works in application.yml, but not bootstrap.yml

[2015-02-13 06:41] dsyer commented on #84
Of course. By design I'm afraid. Why not use an environment variable for the config server password?

[2015-02-13 09:27] dsyer commented on #84
Actually, I think it should work if we order the initializers. I'll have a look into it before RC3.

[2015-02-13 09:54] #84 closed

[2015-02-13 12:28] kumlien commented on #55
+1 for ssh key support. We host our own git repo which only support username / ssh-keys

[2015-02-13 12:39] dsyer commented on #55
I don't think that should be a problem (you just have to set the identity up as normal I think - just look it up in the JGit docs/forum).

[2015-02-13 13:38] kumlien commented on #55
Thanks, works like a charm!

[2015-02-13 14:29] BoomerBrian commented on #84
@dsyer and @spencergibb

Thanks for getting to the bottom of this. I think this will be a nice addition to Spring Cloud Config. Being able to encrypt all passwords in the yaml files will be critical for a lot of companies that want to use this in production. Having a password in plain text or as an environment variable could prevent people from being able to use this product.

I also think you sho

[2015-02-13 14:51] dsyer commented on #84
I added a couple of sentences to the user guide. Thanks for the suggestion.

[2015-02-13 20:36] iceycake opened #85 "Config Server Client Security"
I have briefly discussed the problem as I was running into on https://github.com/spring-cloud/spring-cloud-config/issues/84.  During that time, I was missing the keystore in the client side but it does not solve my problem when I try to deploy Config Server into production.

*Background*
I am deploying the Config Server as a company wide shared configuration service (for production and non-product

[2015-02-13 20:46] spencergibb commented on #85
You can certainly use a different keypair for the config server login credential on the client side (not the server side).  Putting the production config server password in bootstrap.yml checked into source control, is probably not the way to go about securing the config server.  On the production server you could use an environment variable (SPRING_CLOUD_CONFIG_PASSWORD) or use a separate keypair

[2015-02-13 20:58] iceycake commented on #85
I think I got it.

The client side needs to do the decryption on the password before sending over to the Config Server side.  So I should be using a different set of keypair for the client side.

And yes, the client side password will be assigned onto the production server as env variable so nothing will check into the source control.

[2015-02-13 21:12] #85 closed

[2015-02-15 19:45] joshuawhite929 opened #86 "Detect and broadcast environment change events in config server"
When reading the Spring Cloud Config documentation, it appears that the config server is unaware of applications and or profiles until request time. For a given request, the config server seems to boot up a child spring context and resolve a single view of configuration resources using the application name and profile passed in from the request and then dispose of the child context.

Is there a re

[2015-02-16 08:11] Vad1mo commented on #55
@kumlien can you provide your sample configuration?

[2015-02-16 08:13] dsyer commented on #86
There are two parts to this (I think), and I don't think "profile awareness" adequately describes either of them. One is polling for changes, instead of reacting to a change event, and the other is generating change events automatically in the config server. If we can agree that those are separate concerns we can split the discussion into 2 issues.

Polling the config server for changes would cert

[2015-02-16 08:47] kumlien commented on #55
@Vad1mo I didn't have to configure anything special, it just worked out of the box. Our keys are stored in default directories (~/.ssh) and the spring.cloud.config.server.git.uri is pointing to our internal git repo  like ssh://git@git/configuration/cloud-configuration.

[2015-02-16 13:40] joshuawhite929 commented on #86
While I see your point about polling, using ATOM-like event feeds can allow you to avoid the need for a bus (which may/may not be desirable).  This approach is a pattern that the ThoughtWorks team seems to have used with success.

Regardless, my interest is in figuring out a way to generate the change event as this functionality is missing today.  Just to be clear, are you advocating push notifica

[2015-02-16 17:49] dsyer commented on #86
Both I guess. In the sense that github already provides them, so that would be the easiest implementation of a push from the config server (put an event on the Bus when github pings you).

[2015-02-17 19:27] cnagel opened #87 "Consider multiple spring-cloud-config-uris for high availability"
Hi Spring Cloud Team,

Last week I had a short but nice chat with Oliver Gierke on the microXchg in Berlin about Spring Cloud.
Looking on the architecture, all components can work in a parallel fashion to offer high availability.
With a remote configuration source like git, it is even possible to run multiple synchronized config servers.
But having a look on the documentation, it is only possible

[2015-02-18 11:58] dsyer commented on #87
Sounds like a reasonable suggestion, so pull requests welcome. But not particularly urgent IMO because you will commonly use the config server in an environment where there is a front end load balancer anyway, so a single URL *is* already highly available.

[2015-02-19 23:39] iceycake opened #88 "Multiple Git Repo Not Working"
It seems the repos.patterns are being replaced by the index value of the map.  For example,

<pre>
repos:
   - patterns: *pattern1
   - uri: https://github.com/pattern1/config-repo
</pre>

It turns out the Map object repos in MultipleJGitEnvironmentRepository becomes

{"1", "https://github.com/pattern1/config-repo"} instead of {"*pattern1","https://github.com/pattern1/config-repo"}

[2015-02-20 01:15] iceycake commented on #88
It may be related to how Spring DataBinder works with Map properties?

[2015-02-20 14:52] dsyer commented on #88
The YAML is wrong (it's a map not an array, and you need to provide a key). Look at the sample in the git log or in the user guide.

[2015-02-20 14:58] dsyer commented on #54
I think this is fixed?

[2015-02-20 15:09] iceycake commented on #88
May be the doc is not up to date after the merge?  It is still showing the same one I had contributed.

http://cloud.spring.io/spring-cloud-config/spring-cloud-config.html

<pre>
spring:
  cloud:
    config:
	  server:
	    git:
	      uri: https://github.com/spring-cloud-samples/config-repo
	      repos:
	        - patterns: *pattern
	          uri: https://github.com/pattern1/config-repo

[2015-02-20 15:49] iceycake commented on #88
Confirmed.  The second example above should be the correct one.  The document for RC3 is out of dated.

[2015-02-20 16:21] dsyer commented on #88
That's what is in master (https://github.com/spring-cloud/spring-cloud-config/blob/master/docs/src/main/asciidoc/spring-cloud-config.adoc), but I think you added some docs to the quickstart.adoc as well and that hadn't been updated (fixed in fc48659).

[2015-02-20 16:21] #88 closed

[2015-02-21 03:30] seeksong opened #89 "file system backend, spring.cloud.config.server.native.locations doesn't work"
In native file system backend mode, supposely extra config file can be loaded from locations set by spring.cloud.config.server.native.locations. This feature doesn't work.

 I believe SpringApplicationEnvironmentRepository class missing a method: public String[] getLocations() method.

[2015-02-23 10:20] #89 closed

[2015-02-23 19:15] roykachouh commented on #72
@dsyer Do you think utilizing the `RetryTemplate` in spring-retry (https://github.com/spring-projects/spring-retry) inside the `ConfigServicePropertySourceLocator` will make sense here?  If so, I can take a shot at implementing.

[2015-02-23 20:04] dsyer commented on #72
Yes that's the way I would have done it. Open question is whether to make retry a mandatory dependency.

[2015-02-24 08:44] Vad1mo commented on #72
nahh don't make it mandatory. Nobodys likes dependencies if they don't use them.

I would do a fail fast with property `spring.cloud.config.retry=true.` If there is no dependency available on start fail fast and tell the user that spring-retry  is needed.

[2015-02-24 14:35] roykachouh commented on #72
An interesting hurdle that I'm facing is the fact that the `PropertySourceBootstrapConfiguration` is an `ApplicationContextInitializer` that executes both for the client and the server.  Is that the intent? It seems strange that the server tries to initialize a `CompositePropertySource` with itself as the backing config store.  Is there a clean way to delineate server bootstrap from client bootstr

[2015-02-24 15:13] dsyer commented on #72
That was the intent. The server might want to be a client (i.e. pick up configuration from external sources). I suppose the problem is that it can never contact itself in its own bootstrap phase, so the fail fast flag doesn't make any sense for the server?  We could add a flag (or some logic) to disable the `ConfigServerProeprtySourceLocator` I guess, but I think the `PropertySourceBootstrapConfig

[2015-02-25 16:31] dsyer opened #91 "Package name clash between cloud-connectors and cloud-config"
The "o.s.c.config" package is split between 2 jars. Yuck.

[2015-02-25 17:14] #91 closed

[2015-02-25 17:17] spencergibb commented on #91
:-( config was so much more concise.

[2015-02-25 17:30] dsyer commented on #91
I know, but someone beat us to it. Do you have another suggestion (it's easy to change now, not so easy after release)?

[2015-02-25 17:33] spencergibb commented on #91
configure does seem a bit awkward.  It's not the Configure Server.  It's the Configuration Server.  Maybe `configuration` even though it's longer?

[2015-02-26 11:34] dsyer opened #92 "EnvironmentController YAML output is wrong with some inputs involving arrays"
The existing tests are not exhaustive enough - they only check for an array in the second level of the map  and only with values that are strings (e.g. a.b[0]=c).

[2015-02-26 18:12] #92 closed

[2015-02-26 21:16] seeksong opened #93 "In Eureka First Bootstrap mode, config data wouldn't load if a client starts on a random port number"
In Eureka First mode, if client starts on a random port (--server.port=0),  the client code will ignore the Eureka setup and always try to load config data from default location (localhost:8888). In my case, I have config server runs on 8810, and the client bootstrap as,

spring.application.name=test-server
server.port=0

spring.cloud.config.discovery.enabled=true
spring.cloud.config.discovery.ser

[2015-02-27 12:42] dsyer commented on #93
Does this have anything to do with server.port=0? Where is that configuration file (needs to be in bootstrap.yml)?

[2015-02-27 13:59] seeksong commented on #93
from what i see, it does. if i specify a port numer in command line, everything works just fine. the config  is in bootstrap.properties.

please let me know if you need more detail.

[2015-02-27 18:04] dsyer commented on #93
Works for me. Here's the top of the log:

[code]

I'm using the configserver-eureka and eureka-first samples here: https://github.com/spring-cloud-samples/tests. Maybe if you can share a minimal project that has this problem that would help?

[2015-02-27 20:39] seeksong commented on #93
Thanks for looking at this. I will try to construct a mini project and get back to you soon

[2015-02-27 22:06] seeksong commented on #93
ok, here is my project and logs for both random port and specific port  (i am using java 8 if that matters),

1. main class,

@Configuration
@EnableAutoConfiguration
public class MainEntry {
    public static void main(String[] args) {
        SpringApplication.run(MainEntry.class, args);
    }
}

2. build file

ext {
	springCloudVersion = "1.0.0.RC3"
	//springCloudVersion = "1.0.0.BUILD-SNAPSHOT"

[2015-02-27 22:56] spencergibb commented on #93
@dsyer Because of the way `EurekaDiscoveryClientConfiguration` and random ports work, `DiscoveryClient` is null when `DiscoveryClientConfigServiceBootstrapConfiguration.refresh()` is run.  I tried listening for `InstanceRegisteredEvent` but that didn't work.  I think it's a parent/child context problem.

[2015-02-27 23:10] spencergibb commented on #93
actually, I was able to get it to work, but I'm not sure of the ramifications.

[2015-02-27 23:12] spencergibb commented on #93
so, refresh is called, but the config client isn't loading configuration

[2015-02-27 23:21] spencergibb commented on #93
Yeah `InstanceRegisteredEvent` doesn't happen until after `PropertySourceBootstrapConfiguration` is done.

[2015-02-27 23:55] spencergibb commented on #93
@seeksong A workaround would be to find an available tcp prior to running java and assign the value to `SERVER_PORT`.  http://www.commandlinefu.com/commands/view/7299/find-an-unused-unprivileged-tcp-port

[2015-02-28 00:28] seeksong commented on #93
thanks!

On Feb 27, 2015 4:55 PM, Spencer Gibb <notifications@github.com> wrote:
@seeksong A workaround would be to find an available tcp prior to running java and assign the value to `SERVER_PORT`.  http://www.commandlinefu.com/commands/view/7299/find-an-unused-unprivileged-tcp-port

---
Reply to this email directly or view it on GitHub:
https://github.com/spring-cloud/spring-cloud-config/issues/

[2015-03-01 12:01] michelzanini opened #94 "Problems with the "label" property using Git as Environment Repository"
I created a branch on my config repo in Git with the following name: **1.0.0**.

When I use my Config Server to call:
**http://localhost:8888/app/default/1.0.0**

I get:
[code]

The problem is that the last value after the last **.** (dot) is ignored.

If I call:
**http://localhost:8888/app/default/1.0.0.0**
It works by fetching my **1.0.0** branch.

There is something there ignoring whatever come

[2015-03-01 12:25] michelzanini opened #95 "Exception when restarting application context from /restart"
I enabled the /restart endpoint and every time I invoke it I get a exception like this:

[code]

The restarting works, but I wonder if this exception is a real problem or should be ignored.

[2015-03-01 13:30] michelzanini opened #96 "If @RefreshScope is added, @RabbitListener does not work"
When I have my bean declared like this:

[code]

It works and messages are delivered to the Cosumer.process() method.
But, if I include @RefreshScope then the Consumer does not receive messages anymore.

[code]

I would like to know if this is a know limitation or a bug.

[2015-03-02 07:26] dsyer commented on #94
Good catch. No-one tried that before. It's Spring MVC, grrr.

[2015-03-02 07:29] dsyer commented on #95
It's at WARN level so it's not fatal, but it might means there's a memory leak (Tomcat is trying to rescue you from that, so it might have succeeded). Ignore it unless it obviously is causing problems later (e.g. look at Thread-8 and see what it's doing).

[2015-03-02 07:31] dsyer commented on #96
Probably the proxy created by `@RefreshScope` is masking the `Consumer` methods because they aren't part of an interface. Did you try `@RefreshScope(proxyMode=TARGET_CLASS)`?

[2015-03-02 08:49] michelzanini commented on #96
I tried @RefreshScope(proxyMode=TARGET_CLASS) and tried to create an interface as well, did not work. Also tried @RefreshScope(proxyMode=INTERFACES) and other combinations.
Maybe I am doing something wrong =/
I am using Spring Boot 1.2.2 and Cloud Config 1.0.0-BUILD-SNAPSHOT

[2015-03-02 08:50] michelzanini commented on #95
Ok thanks, closing the issue...

[2015-03-02 08:50] #95 closed

[2015-03-02 09:06] #94 closed

[2015-03-02 13:18] dsyer commented on #96
I think there's a problem with the way that Spring AMQP processes scoped proxies. I could work around it by adding a bean definition like this:

[code]

(forcing the `Consumer` to initialize on start up but lazily). I'll continue to dig into the Spring AMQP implementation.

[2015-03-02 21:10] michelzanini commented on #96
I tried the workaround and it did work.

What I really want to do what something like this:

[code]

So basically the idea was that I could, using Spring Cloud Config, disable my Rabbit consumers by setting a property `readOnlyMode`to `true`.
That will then make my application read-only, because the only thing that can write to a database it's when a message get's processed. So changing to `readOn

[2015-03-03 06:49] dsyer commented on #96
The purpose of `@RefreshScope` is to change the instance of a `@Bean` and you want to do more than that, really (the listener bean and the container that activates it). I think it's probably easier to just stop and start your listeners using the `Lifecycle` interface. Spring Cloud exposes it through the /pause and /resume endpoints, which stop and start all `Lifecycles`, or you could write your ow

[2015-03-04 06:01] beku8 opened #98 "Problem with key management"
I tried to do the key management thing mentioned http://cloud.spring.io/spring-cloud-config/spring-cloud-config.html#_key_management. So I tried to do exactly as documentation
[code]
and

[code]
and got the exception. Probably this is more of a ```spring-security-rsa``` module problem. But the ```keystore.jks``` file comes with the example config server is working fine on my computer. Is my ```key

[2015-03-04 11:12] tyutyutyu commented on #98
The -keypass and the -storepass should be the same, because EncryptionBootstrapConfiguration.RsaEncryptionConfiguration use the getKeyPair(String) method of the KeyStoreKeyFactory to get the key pair.

[2015-03-09 18:01] dsyer commented on #98
Yes. Which makes the documentation wrong at the very least.

[2015-03-09 22:16] #98 closed

[2015-03-10 04:35] akila-affle opened #99 "Dependency convergence error for net.java.dev.jna:jna:4.1.0 paths to dependency are"
[code]

Temporary fix:

[code]

[2015-03-10 08:22] akila-affle opened #100 "Embedding Config Server and Client in Same Application"
This is more like a feature request. Sorry for enlisting it under issues.

I just managed to host both Client and Server (Cloud Config) within the same Spring Boot application. I did this to avoid SPOF of our servers. The goal is to have configuration of a server refreshed via a remote repository, but not be dependent on an external server. This works fine.

As this might be unconventional (if I m

[2015-03-10 08:25] dsyer commented on #99
Ouch, that should be an optional dependency anyway. If you're not using it a better temporary fix would be to simply ignore it.

[2015-03-10 09:08] snicoll commented on #99
What version of Spring cloud are you using exaclty? Spring Cloud 1.0.0 **is* relying on `org.tmatesoft.svnkit:svnkit:1.8.7` already...

[2015-03-10 13:30] spencergibb commented on #99
Dang, I thought we made that optional :-(

[2015-03-11 02:42] akila-affle commented on #99
I'm using 1.0.0

[2015-03-11 07:01] dsyer commented on #99
So what's the problem (1.0.0 depends on svnkit 1.8.7 and jna 4.1.0)?

[2015-03-11 10:22] dsyer commented on #100
It's already a feature then (http://projects.spring.io/spring-cloud/spring-cloud.html#_embedding_the_config_server)? Why would we mess with that? Did you use `spring.cloud.config.server.bootstrap=true`?

[2015-03-11 10:32] #100 closed

[2015-03-12 03:13] akila-affle opened #101 "Provide more control over SSH connectivity to Git"
Allow configuration of Known Hosts

[code]

and allow disabling host checking

[code]

[2015-03-12 03:57] akila-affle commented on #100
@dsyer Yes. Thank you. Just wanted to also mention that having a central server triggers single point of failure. Hence the embedded approach is much safer.

[2015-03-12 06:25] dsyer commented on #100
Can you explain that a bit? What is the expected failure mode and how can you protect against it with an embedded server?

[2015-03-12 06:42] akila-affle commented on #100
Hope I'm being constructive :)

So, in our context (our company, and I guess is common):

1. Many independent systems (groups of machines) working on different projects.
2. Configuration is right now inside these servers.

Having a single config server externally implies, if it goes down, all these systems will be defunct.

However, if the config server is embedded in each of these systems, then t

[2015-03-12 08:12] dsyer commented on #100
Thanks for the detail. So you don't need the config server at all (no endpoints).

I see how that solves your problem, but isn't it easier to just scale out the config server (3 instances would be kind of standard practice - one spare and one extra just in case)?

[2015-03-12 09:33] dsyer commented on #101
Pull requests welcome. The defaults should not change of course.

[2015-03-13 16:16] xyloman opened #102 "java.security.UnrecoverableKeyException: Cannot recover key"
When following the documentation http://cloud.spring.io/spring-cloud-config/spring-cloud-config.html#_creating_a_key_store_for_testing I ran into an issue where a cannot recover key exception is thrown when the KeyStoreKeyFactory class attempts to read the key from the JKS.

[code]

I was able to work around the issue by modifying the keytool command to as follows:

[code]

And then modified the a

[2015-03-13 17:42] dsyer commented on #102
Duplicates #98

[2015-03-13 17:42] #102 closed

[2015-03-13 21:17] ccit-spence opened #103 "Activate profiles in profile-specific config file"
Not sure if this is possible now.  Use case is to have some common application configs based on profiles.

Example:  Using the following Spring Profiles.
`spring.application.name=customers`
`spring.profiles.active=production,database`

Within the git repo having it possible to load the following based on the profiles provided.

`application.yml` => Happens Now
`application.yml#production` => Happe

[2015-03-13 21:39] spencergibb commented on #103
you could use a `production` branch.  I don't think there is a notion of sub-profiles.

[2015-03-13 21:55] ccit-spence commented on #103
Is using a branch where you use the `label`?  And yeah the sub-profile thing does not exist.  Just trying to figure out how it would process the profile within the file once it was inside.  Then you could have each profile for the database within one file.

[2015-03-13 21:57] spencergibb commented on #103
yes, the `label` translates to a git branch.

[2015-03-13 21:58] spencergibb commented on #103
Seems like you wouldn't want a `database` profile because you always want a database.

[2015-03-13 21:59] ccit-spence commented on #103
Not always, it could be some type of aggregate service with no `database` needed.  Example would be Zuul.

[2015-03-13 22:01] spencergibb commented on #103
right, but having the configuration for it in `applicaiton.yml` wouldn't hurt because you wouldn't have the needed jars for auto-configuration to work.

[2015-03-13 22:07] ccit-spence commented on #103
Yes, true.  That was my approach originally.  When the number of services starts getting over 100 I am finding you can run into a very large application.yml that introduces unwanted things into some of the services.  Which database?  To take my example a little further. You could need a decent number of database profiles.  MySQL, Mongo, Neo4J etc.

Mainly just trying to think of a way to share som

[2015-03-13 22:15] dsyer commented on #103
If this is a feature request it is in the wrong place. Needs to go in Spring Boot.

[2015-03-13 22:18] ccit-spence commented on #103
I can put it in Spring Boot.  Sounds like if a concept of sub-profile existed it would be possible for the config-server to handle it.

[2015-03-13 22:19] dsyer commented on #103
Profiles are processed in order. Maybe if you ask for `spring.profiles.active=database,production` it would already work?

[2015-03-13 22:20] ccit-spence commented on #103
I can give it a try.  Pretty sure I tried that already.

[2015-03-13 22:25] ccit-spence commented on #103
I may not be 100% clear on my understanding of how it works.  If I have a file named `application-database.yml`  It is not called if I have set a profile of `database,production`.  It seems if I have any mention of profiles within `applciation-database.yml` it is ignored.  If I remove the profiles and just have a single set of properties within the `appllication-database.yml` it will be read.

[2015-03-13 22:28] dsyer commented on #103
Yes, that is correct. And there's already an issue in spring boot. You can't set new profiles inside a profile specific config file. Seems reasonable to me (and doesn't corrspond to your original description of the problem).

[2015-03-13 22:31] ccit-spence commented on #103
So then right now the only way would be to do something like `appllication-databaselocal.yml` etc...  Then call them in profiles as needed.  The difference being that you could have to repeat yourself (file wise) a few times for each config.  Do you have the link to that Spring Boot issue?

[2015-03-14 01:38] ccit-spence opened #104 "Config Server Health Status"
Everything on the config server is working.  Clients work etc...   When I pull the health it is showing `DOWN`.  Do I need to do something else to make it work?

[code]

This is in the `application.yml`

[code]

[2015-03-14 02:11] ericdahl opened #105 "@RefreshScope doesn't work with conditional DataSource definition"
(note: updating issue from original, as I realized I missed part of documentation)

With spring-boot, if I define a ```DataSource``` bean with ```@RefreshScope``` it cause spring-boot's ```@ConditionalOnBean(DataSource.class)``` to not work. This means that two beans are created. It is supposed to only create the standard spring-boot version if I haven't defined a DataSource myself. This used to w

[2015-03-14 02:36] ccit-spence commented on #104
The error that I get when I access `/admin/health` The config server is running on port 8080.
[code]

[2015-03-14 02:55] ccit-spence commented on #104
Figured out the problem, had to disable cloud config for the server itself.  `spring.cloud.config.enabled-false`

[2015-03-15 07:47] dsyer commented on #105
I don't think `@RefreshScope` on a `@Configuration` works and it might be the thing that breaks your app. There is something more complicated going on though because if I add your `DataSourceConfig` to an existing app I get a more nasty autowiring error:

[code]

[2015-03-15 08:37] dsyer commented on #103
I can't find an active Spring Boot issue (which doesn't mean there isn't one).

[2015-03-15 13:52] dsyer commented on #105
Probably the same issue as this SO question: http://stackoverflow.com/questions/28610353/spring-boot-with-session-based-data-source/28626486#28626486

[2015-03-15 15:44] ericdahl commented on #105
@dsyer

That ```BeanCurrentlyInCreationException``` also happens in the example project I posted if I remove the ```@RefreshScope``` from the Configuration class (while leaving it on the ```@Bean```).

Similarly, this didn't error in 1.0.0-RC3

[2015-03-16 09:22] dsyer commented on #105
I think this needs to be fixed in Spring Boot (https://github.com/spring-projects/spring-boot/issues/2658). We'll bump to Boot 1.2.3 in Spring Cloud Config 1.0.1.

[2015-03-16 10:45] dsyer commented on #104
Re-opening to continue the discussion. It seems like maybe `spring.cloud.config.enabled:false` should be the default for the config server. Also, some people (@ewolff https://github.com/spring-cloud-samples/eureka/issues/11) have pointed out that "DOWN" is confusing for users as a default status. Even if we decide that isn't a problem, I would like to check that "DOWN" is only the status if the co

[2015-03-16 10:46] ewolff commented on #104
I tried the Eureka server with spring.cloud.config.enabled: false and can confirm that its status is UP then.

[2015-03-16 18:50] #103 closed

[2015-03-16 19:04] ccit-spence commented on #104
The reason I even noticed this was integrating the Spring Boot Admin project into the setup.  The problem I had was seeing this glaring "DOWN" on the list of services.  I would think for anyone implementing an admin type console for services would experience the same confusion.

A default of `spring.cloud.config.enabled:false` makes a lot of sense to me.  Having it `true` would seem more like the

[2015-03-16 19:08] spencergibb commented on #104
I don't think `spring.cloud.config.enabled:false` makes much sense at all.  I think having an explicit `spring-cloud-starter-config-client` makes more sense rather than having config client in `spring-cloud-starter`.  If you don't want config, don't include it, rather than include it and turn it off.

[2015-03-16 19:18] dsyer commented on #104
We were discussing the default value on the server though. There it makes sense that the default is false.

[2015-03-16 19:25] ewolff commented on #104
I agree with @spencergibb . Spring Cloud Config is just one option for configuration. I think rolling out an application.properties with Puppet / Chef /.... is at least as valid.

[2015-03-16 19:25] spencergibb commented on #104
on config server yes, config client should default to false, sorry for the misunderstanding @dsyer.

[2015-03-16 19:25] dsyer commented on #104
But that's a separate issue isn't it?

[2015-03-16 19:29] ccit-spence commented on #104
@ewolff If you use a Puppet or Chef workflow it would make sense.  At that point you just don't include it in the pom. Right?

[2015-03-16 19:52] ewolff commented on #104
Well, I would need to exclude the dependency to spring-cloud-config-starter
if I understand correctly. I would prefer if it was not included in the
first place.

On Monday, March 16, 2015, ccit-spence <notifications@github.com> wrote:

--
Eberhard Wolff
Leobschützer Str. 22
13125 Berlin
+49 151 75004986

   http://ewolff.com    Twitter: @ewolff        Skype: ebr.wolff
                       Contra

[2015-03-17 09:29] andreasevers commented on #104
I'm not sure if I am experiencing the same issue, if so then this could help people debugging I suppose:

The configserver appears with status “DOWN” for me because:
[code]

[2015-03-17 09:44] dsyer commented on #104
The thing with the `AbstractEnvironment` looks like a problem but not really the same as we were discussing here. Can you open another issue please?

If `spring.cloud.config.enabled=false` there should be no `ConfigServerHealthIndicator`. Why is that not working (and can you open another issue if that is the case since it isn't really related)? Is your application actually running in the "dev" pro

[2015-03-17 09:51] andreasevers opened #106 "Config server health endpoint always basing itself on 'default' spring profile"
The configserver appears with status “DOWN” for me because:
`org.springframework.cloud.config.client.ConfigServerHealthIndicator`
does a locate of the propertySources to verify if the configServer can access its own properties through the REST endpoint.

This locator is basing itself on an environment object, constructed as such:
[code]
Of course this takes only the default profile, so the loc pro

[2015-03-17 09:55] andreasevers commented on #104
Okay, created [issue 106](https://github.com/spring-cloud/spring-cloud-config/issues/106).

I'm still investigating why the `ConfigServerHealthIndicator` still gets called.

[2015-03-17 12:18] dsyer commented on #106
I'm not quite following the bit where you say "of course". Is the config server running on port 8888 or not? Is the health indicator in a client application ("application") or in the server itself?

[2015-03-17 12:38] andreasevers commented on #106
Oh yes this is probably confusing. The loc profile loads the following `bootstrap.yml`:
[code]
This is deployed on the embedded tomcat of Spring boot.

For `dev` we managed to deploy everything on jboss, using the following `bootstrap-dev.yml`:
[code]

The health indicator is in the Spring cloud config server, not another microservice being the client of the server.

In the `application.yml` I've

[2015-03-17 12:51] dsyer commented on #106
If the app is the config server, then you don't really want it to be a config client by default (we were discussing at #104 that the default for the server should be `spring.cloud.config.enabled=false`), so then there wouldn't be a health indicator at all. If I were you I'd just add `spring.cloud.config.enabled=false` to your `bootstrap.yml`.

[2015-03-17 14:20] dsyer commented on #106
For the case of a client application I think that the "default" profile is fine for testing if the server is up or not. So all in all I think this is a non-issue once we resolve #104.

[2015-03-17 14:20] #106 closed

[2015-03-17 14:30] dsyer commented on #103
Here's the Boot issue: https://github.com/spring-projects/spring-boot/issues/340

[2015-03-17 22:03] joshiste commented on #104
@spencergibb:

+1 for a separate config-starter. We wan't to use the DiscoveryClient but not the config-client and distribute the config a different way. This leads to nasty excludes in our pom.

[2015-03-18 13:34] dsyer commented on #104
@joshiste please refer to https://github.com/spring-cloud/spring-cloud-starters/issues/16

[2015-03-18 19:46] spencergibb opened #107 "make default label 'trunk' for svn on server"

[2015-03-18 19:48] spencergibb opened #108 "Config client should not send a label by default"
let the server define the default-label by implementation (ie git:master and svn:trunk).

This depends on #107.

[2015-03-18 21:38] kennyk65 opened #109 "native profile includes application.properties/yml and bootstrap.properties.yml"
When using the native profile, even when you specify the searchLocations, you automatically get application.properties, application.yml, bootstrap.properties, and bootstrap.yml included in your list.

Example:  Here is a snippet of my server config (application.yml)

    cloud:
      config:
        server:
          native:
            searchLocations: classpath:subfolder/some-local.properties,cl

[2015-03-19 10:12] dsyer commented on #109
There are also many reasons why you wouldn't use the" native" profile - it's only really useful for demos. I don't really think we should change it.

[2015-03-19 10:16] dsyer commented on #104
I think all the issues raised here are now addressed.

[2015-03-19 10:16] #104 closed

[2015-03-19 11:49] dsyer opened #110 "Extract non-config related features to commons"
The config server and its client belong in this project, but not everyone wants to use them, so we should extract the other features (to spring-cloud-context, which we will host at the commons repository).

[2015-03-19 11:56] #110 closed

[2015-03-19 13:03] kennyk65 commented on #109
Could you describe what some of those reasons are?  Having only git-based repository option available isn't very appealing.

[2015-03-19 13:43] dsyer commented on #109
I think the main one is scalability (or availability depending on how you look at it). You need a reliable shared filesystem for the native profile in production - I know that's not impossible, but it isn't very cloudy.

[2015-03-19 14:31] kennyk65 commented on #109
For development and other cases this wouldn't be an issue.  But if the native should not be used then I'd recommend removing it from the documentation - it threw me off for about an hour.

[2015-03-19 14:34] dsyer commented on #109
I don't want to stop people using it. Feedback is what we need.

[2015-03-19 17:54] dsyer commented on #109
I updated the docs to make it clear that `searchLocations` should be used and that the filesystem needs to be provided with care in a production system.

[2015-03-19 17:56] kennyk65 commented on #109
But the problem is that the server's own application.properties/yml bootstrap.properties/yml will be picked up.  If you are doing local development, you'll always need to run more than one app at a time, and if you use native clients will always pick up the port of the server, making this impossible.

[2015-03-19 19:04] dsyer commented on #109
We could change the default search locations I guess.

[2015-03-19 19:39] spencergibb commented on #109
@dsyer I think the problem comes from [here](https://github.com/spring-cloud/spring-cloud-config/blob/master/spring-cloud-config-server/src/main/java/org/springframework/cloud/config/server/SpringApplicationEnvironmentRepository.java#L103-L105)

[code]

if `spring.application.name=applicationFoo` it works.  It's the attempt to have `application.{yml,properties}` be a default.  Event if you change

[2015-03-19 19:51] royclarkson commented on #107
I'm working on a PR for this.

[2015-03-19 21:11] kennyk65 commented on #109
In the end, from a consumers perspective, I'd like to be able to take the same files / structure that I have here: https://github.com/kennyk65/octo-wookie and put them on a local file system (classpath: or file: is fine) and get the same behavior just by specifying the "searchlocation" instead of git repository url.  The location of the files should not produce a functional difference.  Just my $.

[2015-03-19 21:14] dsyer commented on #109
Well can't you already do that? (Apart from the inescapable functional difference that got has history and a filesystem does not.)

[2015-03-19 21:28] kennyk65 commented on #109
Actually no.  When running on Native, the servers own application and bootstrap files are added to what is exposed to the client, so things like the port setting of the server override the port setting on the client.  Can't run two apps on the same port on localhost.

[2015-03-20 08:06] #108 closed

[2015-03-20 12:49] dsyer commented on #109
Sorry, I'm a bit slow here, "no" to what?

[2015-03-20 13:13] dsyer opened #111 "Config Server returns Environment with wrong label and name"
The Config Server always returns an Environment with empty label, and the name is equal to the profiles. Profiles are not even listed.

[2015-03-20 13:14] #111 closed

[2015-03-20 13:17] kennyk65 commented on #109
Sorry to be unclear, I was referring to the question "can't you already do that".  Answer, no you can't.  If I switched from my git repo to local files, I would no longer be able to run both a client and the server on the same machine, as the server would behave differently.  It would serve up its internal settings to the client -- including port -- and the client would be unable to start due to t

[2015-03-20 14:43] #109 closed

[2015-03-20 19:23] kevincmanning opened #112 "Enhancement [spring-cloud-config-server]: Add endpoint for .json similar to .properties, .yml, and .yaml endpoints"
.yml, .yaml, and .properties require 3rd party libraries to parse whereas a json can be parsed natively by JavaScript interfacing with the config server api.

The outputs coming from {name}/{profiles} is verbose (great for debugging) but does not resolve the property that is to be used. If you want to use JSON, the logic of selecting the correct property is delegated to the client.

Suggestion: Ad

[2015-03-20 19:36] spencergibb commented on #112
PRs are always welcome.

[2015-03-20 19:46] kevincmanning commented on #112
Cool. :+1:

Here is the pull request: https://github.com/spring-cloud/spring-cloud-config/pull/113

[2015-03-20 19:49] kevincmanning commented on #112
Sorry if there was a way I could have attached that pull request to this issue. My github experience is limited.

[2015-03-20 20:49] spencergibb commented on #112
by mentioning the issue in the PR they get linked

[2015-03-24 13:51] #112 closed

[2015-03-24 19:16] dsyer opened #115 "More logging from EncryptionController so potential attacks can be monitored"

[2015-03-25 15:31] #107 closed

[2015-03-26 10:19] #115 closed

[2015-03-26 14:12] voidengineer opened #116 "spring-cloud-config-client should not depend on spring-boot-starter"
As `spring-cloud-config-client` is first and foremost a library and not an application, it should not depend on `spring-boot-starter` which in turn pulls in `spring-boot-starter-logging` which in turn pulls in `logback-classic` which most likely is not needed by `spring-cloud-config-client` at all.

IMHO libraries should carefully define which libraries they need and only depend on those. Applicat

[2015-03-26 15:29] dsyer commented on #116
I think `spring-boot-starter` is pretty innocuous (just some logging dependencies and spring-boot), but I suppose I take the point. We probably won't change anything in 1.0.*. If you don't like logback you can exclude `spring-boot-starter-logging`.

[2015-03-26 22:34] alexcorvino opened #117 "Pure wildcard patterns break searches across multiple repositories"
I've set up multiple repositories with configuration in each.

common repo contains:
common-dev.yml
common-qa.yml
common-mysql.yml

foo-config repo contains:
foo-dev.yml
foo-qa.yml

bar-config repo contains:
bar-dev.yml
bar-qa.yml

I've configured my Spring Cloud Config Server like so:

[code]

Issuing a curl command against foo/dev or foo/qa will return configuration in propertySources. Issuing a

[2015-03-26 22:53] spencergibb commented on #117
I don't see how multiple wildcards would work.  Wouldn't you want `foo*` and `bar*` or something?

[2015-03-27 12:21] dsyer commented on #117
Yes. It's an ordered list of patterns, and each one is tried in turn against the application name. If the first one matches everything you're never going to get a match on any other repo (by construction).

[2015-03-27 16:19] alexcorvino commented on #117
OK, I'm understanding how the patterns work now. This might be better marked as an enhancement rather than a bug.

Going back to [my question on StackOverflow](http://stackoverflow.com/questions/29290003/organizing-large-amounts-of-application-configuration-in-spring-cloud-config-ser) I'm still thinking about how I'd organize a bunch of configuration.

Imagine that I've divided the repos into four

[2015-03-27 16:29] dsyer commented on #117
Would you want the config for a single application to come from more than one repo? The multi-repo thing was a community contribution, so maybe you'd better ask @iceycake (#58). My understanding was that he planned to use it like you with "teams" instead of "domains" (so groups of applications separated by origanization boundaries). In your example why would an application have more than one confi

[2015-03-27 18:22] iceycake commented on #117
@dsyer is right.  My use case is having team/domain owns its own git repos.  So the configuration will look like the following:

[code]

In your StackOverflow question, I also agree if we can have this configuration on a properties file or database so it can be modified on the fly (we have over 50 dev teams and the list is growing weekly) without redeploy/restart the config service.

Regarding the

[2015-03-27 20:30] kevincmanning commented on #117
Would it be satisfactory to have each team own their own branch? If I understand correctly, it seems like you could use /{label}/{application}-{profile}.yml

where {label} is {branch} effectively for git

If it's a git repo/permissions issue, you can limit user permissions by branch and still keep them in a single repository.

[2015-03-27 20:42] iceycake commented on #117
I don't think using branch is feasible solution since we want to manage the properties by the application version.  We cannot always rely on the master branch of the configuration.

[2015-03-29 12:43] torsten-liermann opened #118 "Exception on deploying the second spring-boot application"
I'm using spring-boot on glassfish 3.1.2.2. Eureka service was deployed successfully. An next deploy of an other spring-boot service fails with the exception:

<pre>
Error occurred during deployment: Exception while loading the app : java.lang.IllegalStateException: ContainerBase.addChild: start: org.apache.catalina.LifecycleException: org.apache.catalina.LifecycleException:
  org.springframework.

[2015-03-30 10:18] dsyer commented on #118
If you have 2 Spring Boot apps in the same JVM you need to segregate the MBean namespace, e.g. set `spring.jmx.default-domain` to something unique (for a Spring Cloud app `${spring.application.name}` should be unique, for instance), or else set `endpoints.jmx.domain` (only affects the Actuator endpoints).

[2015-03-30 10:18] #118 closed

[2015-03-31 09:57] dsyer commented on #105
Spring Boot 1.2.3 is out now so this is fixed.

[2015-03-31 09:57] #105 closed

[2015-04-02 11:06] seno5979 opened #119 "How to configure spring-cloud-config if we want the encryption/decryption on client"
Hi,
Is it possible to use spring cloud-config, but we don't want to use the encryption and decryption using server key ?

The idea is the config-server only stored the property value as it is, and the client will use their own key to encrypt / decrypt the property value.

Thanks.

[2015-04-07 15:43] marmanan opened #122 "Error connecting to git repo with self signed certificate"
I don´t see any way to configure Spring Cloud Config server to avoid self signed certificate validation when connecting to a git repo. Something like the http.sslVerify property in git client.
Thanks

[2015-04-07 18:31] seno5979 opened #123 "Client side encryption/decryption is not working in bootstrap.yml"
I currently working on a project that using spring-cloud-config-server, but would like to use client own keys to encrypt/ decrypt the secure property values.

So I did some customization on spring-cloud-config-server to bypass the decryption of property value that has '{cipher}' tag and let the value be decrypted on client side.

As I remember the things is working as expected on 1.0.0.RC1, but af

[2015-04-13 04:29] shahid21st opened #125 "Minor typo"
In the readme, under the heading 'Spring Cloud Config Client', in the last point it is written "Bootstrap appplication context", it should be "Bootstrap application context".

[2015-04-13 06:46] dsyer commented on #123
I guess some people might want to decrypt properties that are needed during bootstrap (like the config server password). We could make 2 passes over the environment I suppose?

[2015-04-13 06:49] seno5979 commented on #123
Hi Dave,

My suggestion is to load EnvironmentDecryptApplicationInitializer after PropertySourceBootstrapConfiguration if this is make sense.

Currently EnvironmentDecryptApplicationInitializer is being loaded before PropertySourceBootstrapConfiguration.

Thanks,
Seno

[2015-04-13 06:49] dsyer commented on #122
Self signed certificates are only for testing. Why not ho with HTTP or filesystem access for that?

Anyway Spring is just using JGit and `java.net.*` so anything that applies to those will apply here. There are some static config conveniences for socket factories iirc.

[2015-04-13 06:50] dsyer commented on #123
I know. But your suggestion doesn't work for people that want the order the way it is, does it? Hence I suggested decrypting twice.

[2015-04-13 07:16] seno5979 commented on #123
Sound make sense to me. Thanks for the explanation.

Is the suggestion you brought up will be the standard of spring-cloud-config or we need to customize it  by our self ?

[2015-04-13 07:18] marmanan commented on #123
We are facing the same problem, we want the properties provided by cloud config server decrypted in the client and not in the server and can not manage to do it.

[2015-04-13 14:06] #125 closed

[2015-04-16 06:07] shahid21st commented on #125
The same problem also exists in the project homepage: http://cloud.spring.io/spring-cloud-config/

[2015-04-16 13:51] spencergibb commented on #125
@shahid21st yeah, that page is built from the docs, it will eventually go away

[2015-04-17 05:29] shakuzen opened #127 "Cannot decrypt properties in bootstrap.yml on Config Server"
I believe @dsyer is aware of this problem judging from his first comment on #123. For my specific use case, I am trying to provide a username/password for the Git repository backing my configuration server, but I want to encrypt the password so that it is not visible when bootstrap.yml is checked in to source control.

(I do not plan on using this method of authentication if this makes it to produ

[2015-04-17 05:47] dsyer commented on #127
Why does the cipher need to go in bootstrap.yml?

(Of course even if it works in application.yml you need a secret to decrypt it, so you need to get out of the hole somehow with a local file or environment variable.)

[2015-04-17 05:49] dsyer commented on #127
Maybe a password isn't the best way to secure the git repo? Ssh would be more common (and people run with a local .ssh configuration that works if they have an account).

[2015-04-17 10:46] dsyer commented on #117
The original problem here was a misunderstanding about the way pattern matching works. If there is a feature request, can someone open a new issue and explain it a bit more?

[2015-04-17 10:46] #117 closed

[2015-04-17 10:47] dsyer opened #128 "SVN access is not synchronized"
(It is for git.)

[2015-04-17 10:48] #128 closed

[2015-04-17 11:10] torsten-liermann opened #129 "Q: config client can wait for config server"
Is it possible to have the ConfigClient wait until a ConfigService is registered? It is a reasonable extension, especially for our deployment scenario.

[2015-04-17 13:35] dsyer commented on #129
See PR here: #90

[2015-04-20 01:25] shakuzen commented on #127
Thank you for your quick reply. I agree that the better overall solution in this use case is just to use ssh. I just thought perhaps there might be other use cases that would make it make sense to have cipher available to use in bootstrap.yml. However, I'm not able to think of any. Perhaps the documentation could directly mention that cipher is not usable in bootstrap.yml, at the least, though?

[2015-04-21 06:23] #129 closed

[2015-04-21 15:55] marmanan commented on #123
Hi dsyer, getting back to seno5979 question:
"Is the suggestion you brought up will be the standard of spring-cloud-config or we need to customize it by our self ?"
How could we proceed? If we need a customization, can you explain what we will have to do?
Thanks

[2015-04-21 16:26] dsyer commented on #123
If you get something working and you want to contribute it as a pull request that's fantastic.

[2015-04-23 14:59] bstick12 opened #130 "PropertySourceBootstrapConfiguration: Would it be possible to allow the override of any property from the config server"
The current implementation of the PropertySourceBootstrapConfiguration. Only allows the overriding of values from the bootstrap configured PropertySources by source before the System Environment Property source. Would it be possible to allow the overriding from any property source e.g standard application.properties

Also the configuration properties to allow overriding
* spring.cloud.config.allow

[2015-04-25 16:42] bstick12 commented on #130
Sorry opened this in the wrong repository

[2015-04-25 16:42] #130 closed

[2015-04-26 15:12] mafr opened #131 "URI not supported: git:///localhost"
Config server fails to clone from a `git://` URL. I set `spring.cloud.server.git.uri` to `git://localhost` in `application.yml`, but somehow a third slash gets added, causing JGit to choke. Supporting the git protocol would be very handy for local testing because it's so easy to set up (`cd repo && git daemon --reuseaddr --base-path=. --export-all --verbose`).

Here's the stacktrace.

[code]

[2015-04-27 14:59] G-Cat opened #132 "logging.config in remote server doesn't work in config client"
Hi!

I'm trying to set which logback.xml file to use in application.yml file, which stores at spring-cloud-config repository, for example:

[code]

Accordingly, I expect to get production.xml logback configurations at runtime if I set:

[code]

Unfortunately, it doesn't work! When I set production profile, my app starts to use its configuration...but only for one log message, for example: "Started

[2015-04-27 15:56] marmanan opened #133 "Error loading config files in config server on Windows"
I have upgraded config-server from 1.0.0 to 1.0.1 and I have found that when running in windows config server is not able to find any config file.
The problem seems to be in method clean in class NativeEnvironmentRepository, it doen not take into account the "\" in windows environments.

[2015-04-27 16:04] marmanan opened #134 "Types in Json endpoints in Config Server"
The new json endpoints are not keeping types integer and boolean in the output json file, it surrounds the values with quotes.  This is a problem for javascript clients consuming these endpoints.
The types are correct when the number or boolean values are located in nested object but not if the properties are placed in root level in the json object.

Example.
source:

[code]

`/foo-dev.json` retur

[2015-04-27 16:20] dsyer commented on #132
The loggers are configured really early (for obvious reasons), so they aren't seeing your remote configuration properties. It's a bit chicken and egg (how do you log without the configuration, and how to you report the progress of loading the configuration without logging), but we can probably do something to bump the loggers once the remote configuration is available.

You will see what I mean if

[2015-04-27 16:41] #132 closed

[2015-04-27 16:45] dsyer commented on #131
Does JGit support the git: protocol? As far as I know no-one is changing that URL before it hits JGit.

[2015-04-27 16:49] dsyer commented on #133
Are you using the "native" profile, or just hitting `NativeEnvironmentRepository` somewhere in the call stack? I don't remember that method changing, but it's protected, so you can override it to provide a workaround. When you have some clean code that works, please post it back here (or send a PR).

[2015-04-27 16:54] dsyer commented on #134
It doesn't even work as well as that for me. I don't think I would have expected it to either. How did you set up that source?

[2015-04-27 16:57] G-Cat commented on #132
Great thanks!

/${management.context-path}/refresh works perfectly, but I can't call it on all services every time after I start it.

As I understand, your commit fix it and re-initialize log configuration after communication with Config Server. How can I use spring-cloud with your fix? What I should to add in my pom.xml dependencies?

[2015-04-27 17:04] dsyer commented on #127
Duplicates #123

[2015-04-27 17:04] #127 closed

[2015-04-27 17:17] dsyer commented on #132
You need a snapshot I guess. They are deployed automatically, but might be more reliable to build it yourself this week (I think the build is broken and I'm travelling).

[2015-04-27 17:23] spencergibb commented on #132
@dsyer @G-Cat I fixed the builds this morning with the exception of spring-cloud-cli.  Snapshots should work because [this build](https://travis-ci.org/spring-cloud/spring-cloud-commons/builds/60244611) completed.

[2015-04-27 20:07] ktong commented on #123
It also does not work on customized bootstrap configuration.

[2015-04-27 21:52] marmanan commented on #133
I was using JGitEnvironmentRepository that call NativeEnvironmentRepository.findOne.
I guess the clean method was changed in this commit: https://github.com/spring-cloud/spring-cloud-config/commit/b1ba8df0660f9f2853ce9a075a5122206f25b71a#diff-b99e10d657a99285c8ffad46c3ad2052

I think I can´t override NativeEnvironmentRepository because JGitEnvironmentRepository  is calling the constructor of this

[2015-04-28 09:10] dsyer commented on #123
@ktong cutomized how? What doesn't work?

[2015-04-28 09:36] dsyer commented on #134
This actually requires a fix in Spring Boot: https://github.com/spring-projects/spring-boot/issues/2891

[2015-04-28 12:51] abrochard63 commented on #133
I sent a PR for fixing this bug (https://github.com/spring-cloud/spring-cloud-config/pull/135)

[2015-04-28 13:15] ktong commented on #123
I add a customized bootstrap configuration according to doc at http://projects.spring.io/spring-cloud/docs/1.0.1/spring-cloud.html#_customizing_the_bootstrap_configuration. I thought the value would be decrypt if it prefix with {cipher}. But it's not.

[2015-04-28 15:04] DirkLachowski opened #137 "CloudConfig client doesn't get config from ConfigServer after upgrading spring-cloud from 1.0.0.RELEASE to 1.0.1.RELEASE"
I have a working microservice build against 1.0.0.RELEASE and are getting my properties from a remote cloud config server. After upgrading the microservice to 1.0.1.RELEASE the service doesn't start anymore because of not resolvable property placeholders:

    Caused by: java.lang.IllegalArgumentException: Could not resolve placeholder 'cassandra.seeds' in string value "${cassandra.seeds}"
	at org

[2015-04-28 16:46] mafr commented on #131
Yes, git:// is supported. The following code worked perfectly.

[code]

[2015-04-28 18:04] mafr commented on #131
It turns out that JGit handles `git://localhost/` fine, but chokes on `git://localhost` (without the trailing slash). AbstractScmEnvironmentRepository.setUri() chops off that slash, causing problems with JGit. One could argue that's a bug in JGit.

Serving my git repo's parent directory (`git://localhost/my-config-repo`) works for me, so at least I've got a quick workaround.

[2015-04-28 20:47] thefalconfeat opened #138 "Auto refreshing the properties on client through configuration"
its not very clear for me going through the documentation, but we have a need to configure certain set of application to get refreshed(properties) every 10 min and its becomes hazy to trigger /refresh every 10 min manually. Is it something that we can configure on the client application, if so how do we do it..?

[2015-04-29 06:44] dsyer commented on #131
Wow. We should add a slash in `AbstractScmEnvironmentRepository` if the URL doesn't contain a path then.

[2015-04-29 07:10] dsyer commented on #138
You can easily `@EnableScheduled` and add a bean that calls the `RefreshEndpoint.refresh()` method every 10min (or whatever schedule you like of course). `@EnableScheduled` is a Spring core feature.

[2015-04-29 07:11] #138 closed

[2015-04-29 09:38] #131 closed

[2015-04-29 12:32] Binary00 opened #139 "Dynamic refresh and bootstrap mode for multiple repo configuration"
Currently a `spring-cloud-config-server` has configuration for multiple repositories . It would be nice if that configuration could be loaded from a git repo and possibly reloaded automatically on a configurable scheduled amount of time.

I know currently spring boot apps have the ability to point at configuration files anywhere and then call `/refresh` to reload the properties. Which is a way we'

[2015-04-29 14:21] thefalconfeat commented on #138
we are using cloudfoundry to deploy our applications, and it would be hard to get the exact endpoint of all the instances, especially when the application is running with multiple instances.

[2015-04-29 14:24] spencergibb commented on #138
@thefalconfeat he's not suggesting you make a rest, call, but use `@EnableScheduled` IN your application to call `RefreshEndpoint.refresh()` directly in java code.

[2015-04-29 14:40] spencergibb commented on #137
@DirkLachowski We separated the starters, so config is not auto-included anymore.  Do you have `spring-cloud-starter-config` included?

[2015-04-29 15:05] dsyer commented on #139
You can do that yourself. Just add `@EnableScheduled` and a `@Bean` that has a `@Scheduled` method that calls the `RefreshEndpoint.refresh()` method.

[2015-04-29 15:41] Binary00 commented on #139
I'll take note of the `RefreshEndpoint.refresh()` method.

How would that work with a git remote repo configuration, instead of a file system based approach?

[2015-04-29 15:52] dsyer commented on #139
It's the same. The remote config is reloaded on refresh.

[2015-04-29 15:52] thefalconfeat commented on #138
thanks, this is helpful

[2015-04-29 15:56] thefalconfeat opened #140 "Scheduler is not working with RefreshScope"
When a class is annotated with,@Configuration, @EnableScheduling, @RefreshScope the scheduler is not working.
Once I removed the @RefreshScope, scheduler started working.

[2015-04-29 15:58] spencergibb commented on #140
I don't think `@RefreshScope` works on configuration classes, you should put it on a bean definition.

[2015-04-29 16:03] DirkLachowski commented on #137
@spencergibb Much better, that fixed it. Thanks for your help.

[2015-04-29 16:03] #137 closed

[2015-04-29 16:13] Binary00 commented on #139
Maybe I'm missing something.

I'm running a standalone `spring-cloud-config-server` with multiple repositories it serves up for configuration.

[code]

That configuration lives in a `bootstrap.yml` file and has to be manually updated on the filesystem where the `spring-cloud-config-server` is running. Whenever a new repo is added the `/refresh` needs to be called, or as you mentioned above it coul

[2015-04-29 20:30] dsyer commented on #139
Maybe you are trying something and it doesn't work, and I admit I haven't, but I don't see why it wouldn't if you tried it the way I think you should. I think you only need a git repo URL in `bootstrap.yml` if you set the flag `spring.config.server.bootstrap=true` (the ones for the apps themselves are not needed until the server has started). If you never set that flag I guess you are stuck with l

[2015-04-29 21:12] Binary00 commented on #139
I've tried the following in the `spring-cloud-config-server':

[code]

That will serve up configuration for multiple services/apps, but that seems to require every service/app configuration to exist in that one repo.

For example:

[code]

We were hoping to have one config repo for each service/app instead of one monster configuration repo.

[code]

Maybe I'm still doing something wrong? Should th

[2015-04-30 01:17] Binary00 commented on #139
Ok well I was able to get the `spring-cloud-config-server` to startup using a git repo using the `spring.config.server.bootstrap=true` flag. I didn't have the application name set. I now see on startup that its refrencing `https://git-url/config-repos/configserver.yml` as a property source.

It still doesn't seem to be using the data in that file to serve up properties.

[code]

If I request `/ser

[2015-04-30 06:10] dsyer commented on #139
The `afterProperties()` should be called on refresh, but maybe not the first time (which would be odd). I can't really guess any more so I'll have to try it myself.

[2015-04-30 12:34] Binary00 commented on #139
Yeah doesn't look like `MultipleJGitEnvironmentRepository` is being initialized with the remote repos. If I call a `/refresh` I can see `MultipleJGitEnvironmentRepository.afterPropertiesSet()` being called with the updated remote repos like you mentioned, but I don't think its re-wired up to the controller. The app will not reference the newly populated repos.

This is assuming I have everything c

[2015-05-01 18:34] Binary00 opened #141 "Use local working copy when git host isn't available for config server"
The issue of HA was brought up here #4. Does that mean when a git host goes down the property server will continue to serve up files if a particular repo has already been referenced?

I've tested this out locally and haven't had luck with that.

Steps Used:
1.  Pointed a configuration server at a git repo. Using a short dns timeout. `java.security.Security.setProperty("networkaddress.cache.ttl" ,

[2015-05-02 10:05] mafr opened #142 "Config server should provide health indicator"
When the config server can't fetch or pull due to an unavailable git repository, it should signal the error using a `HealthIndicator`. Currently it's just logged ("Remote repository not available", "Could not pull remote ...") which is a bit inconvenient for monitoring.

[2015-05-04 10:50] alexterman opened #143 "The plain YAML array wrapped with a "document" element"
When fetching YAML array from the server , it adds "document" element , which wraps the data.

The originally stored data:
[code]

The returned data:
[code]

Is it expected behavior?
Is it possible to get the data without "document" level (just as it)?

[2015-05-04 19:32] #142 closed

[2015-05-04 19:34] spencergibb commented on #142
Sample DOWN details:

[code]

Sample UP details:
[code]

[2015-05-05 08:34] marcingrzejszczak opened #144 "Ciphered values in YAML should be quoted?"
Again maybe I misunderstood sth but when taking a look at the documentation (http://projects.spring.io/spring-cloud/spring-cloud.html#_spring_cloud_config) with such a snippet:

[code]

I got an exception during YAML parsing that "{" was unexpected. Only after writing

[code]

did I manage to have it done properly. Have I done sth wrong or is there a bug in the doc?

[2015-05-05 15:41] spencergibb commented on #144
@marcingrzejszczak bug in the docs.  We quote it in [our sample](https://github.com/spring-cloud-samples/config-repo/blob/master/application.yml#L5)

[2015-05-05 15:41] #144 closed

[2015-05-05 18:35] rubesMN opened #145 "/env on client does not refresh from config server"
With spring-cloud-config code as of 3 weeks ago, I am not able to get clients to get updated config server values (via updates to the backing git repo) using the actuator endpoint /env.  This applies to @ConfigurationProperties annotated classes and @Value annotated properties.   This seems in contradiction to the documentation which has the following:

POST to /env to update the Environment and r

[2015-05-05 18:40] spencergibb commented on #145
have you tried `/refresh`?

[2015-05-05 18:44] rubesMN commented on #145
Yes, /refresh works if the `@RefreshScope` annotation is used.

[2015-05-05 18:50] spencergibb commented on #145
I think that there is a misunderstanding of what `POST /env` does then.  You should be using `/refresh`.

[2015-05-05 22:31] rubesMN commented on #145
Thanks Spencer.  Perhaps the documentation needs to be clarified.  Seems `POST /env` only re-reads from local property sources.

[2015-05-05 22:31] #145 closed

[2015-05-06 07:30] ccit-spence commented on #132
Are there any problems with only using the snapshot for the config clients and the config server?  Basically not using the snapshot for everything else.

[2015-05-06 08:30] dsyer commented on #132
It's a risk obviously. At the minute it's a minimal risk because there are no other changes in master and nothing big is planned for 1.0.x (but some people are asking us to make changes, e.g. see #124).

[2015-05-06 08:34] ccit-spence commented on #132
I will try it for a little while.  We are implementing aggregated logging and need this bit of code for it to work correctly.  And you are right that change would be fun!  Any idea when this will go into the release build?

[2015-05-06 10:38] dsyer commented on #143
This is expected and actually it comes from Spring (the `YamlProcessor`), not from Spring Cloud. I suppose, given we know this we could invert the processing done in Spring, but why do you want to make your YAML a list at the top level anyway? Can't you just put it in a named field?

[2015-05-06 10:48] #133 closed

[2015-05-06 10:49] alexterman commented on #143
Well, basically, I can wrap the array in the named field, but we have a lot of code that uses plain array and it is too many changes in too many places ... I was hopping it can be done in the config server level instead.

[2015-05-06 10:56] dsyer commented on #143
What's your use case? How are the client's implemented if they are expecting such configuration (not a Spring app I would guess)?

[2015-05-06 10:57] dsyer commented on #140
It's mentioned here: http://projects.spring.io/spring-cloud/spring-cloud.html#_refresh_scope

[2015-05-06 10:57] #140 closed

[2015-05-06 10:58] dsyer commented on #123
You mean you added a `PropertySourceLocator` and the properties were not decrypted? Sorry, but we have to be precise about the use case.

[2015-05-06 11:00] dsyer commented on #81
I think this was really just a question. Multi-user security is possible and recommended. It's nothing special.

[2015-05-06 11:00] #81 closed

[2015-05-06 11:01] #54 closed

[2015-05-06 11:02] dsyer commented on #72
Should have been closed with #90. Fully supported now since 1.0.1.

[2015-05-06 11:02] #72 closed

[2015-05-06 11:03] #96 closed

[2015-05-06 12:02] alexterman commented on #143
I'm using simple http client, which fetches YML/JSON from the configserver and provides application (which runs it actually) with a Pojos (List<MyConfigData>). It is not spring application.

[2015-05-06 12:10] dsyer commented on #141
I'm not sure about the DNS trick you did, but simply switching off the network forces the repository to fallback on the local working copy, so I'm surprised it didn't work the same way (possibly after a timeout). You should see this kind of thing in logs:

[code]

but you still get a response from the server and it uses the local working copy.

[2015-05-06 13:55] Binary00 commented on #141
I was able to test switching off the network as you did and I got a quick timeout and was served up the local working copy.

Further testing done using the DNS trick above with different hosts that weren't 127.0.0.2:
* Host that was up, but wasn't listening on port 80/443.
  * Got a quick timeout.
  * Was served up local copy.
* Host that wasn't up at all.
  * Took ~15 seconds to timeout.
  * Was

[2015-05-06 16:59] ktong commented on #123
yes, exactly.

[2015-05-07 06:08] ccit-spence commented on #132
Just an FYI, everything with new build snapshot works perfectly.  Will reload the logback config with new settings based on `logging.config` properties.  Thanks for adding this!

[2015-05-07 19:36] mstine opened #146 "Enable config server to reach repository via proxy server"
Ran into this while teaching a Spring Cloud class on-site with a customer that required a proxy to access the web. JGit does not support the "standard" mechanisms for this.

Reference http://stackoverflow.com/questions/16921374/jgit-proxy-configuration-in-code/17071687#17071687 for an example of how this is done. I figure we can wrap this in some nice configuration that would allow snippets in boo

[2015-05-08 22:22] iceycake opened #147 "Spring Cloud Config Server and managing plain text files"
Spring Cloud Config Server is a perfect solution for simple key/value application properties.  However, a lot of applications have additional resource files based on different profile.  For example, keystore jks file, custom XML file, etc.

My current workaround is storing those files under the same config-repo in git.  During deployment, I need to write script to copy those files over from git to

[2015-05-11 09:44] marmanan commented on #123
I have tried to encrypt the password to access the config server, but it´s not working either.
Apparently config client creates the ConfigClientProperties bean before doing the decryption process and although the decryption is made before calling the config server, config client uses the encrypted value. So it receives a 401 from the server.

[2015-05-11 11:38] marmanan commented on #123
Same thing in config server with git user´s password, decrypted value is not used when calling git.

[2015-05-11 15:49] kennyk65 opened #148 "Connecting from Config Client to Config Server using self-signed certificates"
Is there a way for a config client to connect to a config server if the config server is using self-signed certificates?  The idea here is to use self-signed for local testing, then use real certificates in production.  Is there a property on the client side that can be used to have it relax?

Client's exception, when attempting to connect to the config server, is:

    2015-05-11 11:47:47.948 ERR

[2015-05-12 12:52] eugenebell commented on #148
Have you tried to run a command like the following?
git config http.sslVerify false
This will set the sslverify to false in the .git/config file
[http]
sslVerify = false

[2015-05-14 21:23] cyleph opened #150 "Not converting folder seperators correctly when using Git with file: on windows."
Hi,

using a local Git-Repo on Windows and my config-server (java8) connecting to it with
spring:
  cloud:
    config:
      server:
        git:
          uri: file://h:/git/

Doesn't get me back my properties file.

Problem seems to be in the NativeEnvironmentRepository.clean(Environment value) method.
The normal variable is with the folder-seperator "\", while pattern has "/" since pattern is r

[2015-05-15 13:19] Chumper commented on #123
I have the same use case:

In order to let all other clients know that a value changed the config server triggers the `/bus/refresh` endpoint.
In order for this to work i created an `application.yml` in the git repo:
[code]

because the config server should also take this as configuration i added into the `bootstrap.yml`:
[code]

I expect the config server to initialize itself with the config (whi

[2015-05-15 16:21] cyleph commented on #150
Already fixed in master. Sorry didn't check.

[2015-05-15 16:21] #150 closed

[2015-05-18 15:39] piotrzk opened #152 "Memory Leak related to ConfigurableApplicationContext#registerShutdownHook ?"
I've noticed that after each config refresh new `ConfigurableApplicationContext` is created and is registered in `Runtime.getRuntime().addShutdownHook()` - AFAIK shutdown hooks will be called only while shutting down JVM.
If config reload is scheduled every couple minutes it seems causing application running out of memory.
While monitoring my JVM I can see many `org.springframework.context.annotat

[2015-05-18 22:37] jregehr opened #153 "Config Label Fallback"
I spoke with Matt Stine about this request while at CloudFoundry Summit 2015.

I am requesting a modification to the ConfigServer so that it will respond with a fallback config file if the requested config label does not exist. **This is different from the default branch property that is already available for use on the Config Server.**

More detail ...

I added the ```git-commit-id-plugin``` to m

[2015-05-19 08:28] dsyer commented on #123
Fixed in https://github.com/spring-cloud/spring-cloud-commons/issues/32

[2015-05-19 08:28] #123 closed

[2015-05-19 08:36] dsyer commented on #152
If this is an issue it should be in Commons: https://github.com/spring-cloud/spring-cloud-commons

[2015-05-19 08:38] dsyer commented on #152
If this is a problem I believe it must be in Commons: https://github.com/spring-cloud/spring-cloud-commons

[2015-05-19 08:43] #152 closed

[2015-05-19 09:06] dsyer commented on #148
If that works we can document it. I thought JGit only used `$HOME/.ssh` (no `$HOME/.git`) but I'm happy to document whatever works.

[2015-05-19 09:09] dsyer commented on #147
I presume you are talking about legacy applications (otherwise why wouldn't you just re-write them to use key-value pairs)? I'm not sure how or whether we should support legacy, non-cloud-native apps.

[2015-05-19 09:18] dsyer commented on #146
That SO link just shows someone making a special case for github. The normal JVM convention for System properties should work unless we need special cases like this (e.g. "-DproxyHost=myproxy.com" etc.). What was the use case exactly at the customer site?

[2015-05-19 09:55] #143 closed

[2015-05-19 10:36] dsyer opened #154 "Make configServer work with branches named like feature/myFeatureBranch."
Make configServer work with branches named like feature/myFeatureBranch. (See #153 for the original request.)

[2015-05-19 11:09] hmichopoulos opened #155 "Send 404 if application not found"
Hi,
I would like to configure Config Client to accept only non empty configuration sources.

Currently, if the configuration of my `FooApplication` has not reached the Config Server yet, the Config Client will receive empty configuration sources and will go on.
I suggest it to be configurable. If `acceptEmpty` is false, it would fail and probably retry.

Thanks

[2015-05-19 11:52] #153 closed

[2015-05-19 12:53] iceycake commented on #147
Yes and No.

1. I may have different logback.xml or log4j.properties that uses different log appender depending on different spring profile.  Please let me know if there is a SpringBoot/SpringCloud way to handle this situation.

2. Application that has 3rd party libraries that requires a license file, which is a XML file containing a key.  This file is only allowed to be used in production but not

[2015-05-20 08:30] satar opened #157 "Enhancement suggestion for failsafe properties mechanism on client side."
I don't know whether others would find such a feature useful as one should really make sure config server is highly available. However, when I suggested that we use this awesome open source tech for centralizing our properties, I was asked to provide a failsafe feature on the client-side. Basically, if enable and path set, the client will create and update a failsafe properties file that contains

[2015-05-20 13:30] dsyer commented on #157
Why would the config server not be available? If it isn't wouldn't be coming back again soon (so the existing retry behaviour should work fine)?

[2015-05-20 19:21] satar commented on #157
I would agree that it would Dave but after debating with the team here I do see some utility in such a feature as it allows for testing without config server up yet keeping it up to date from the last time it ran. I would argue that we want to be sure config server simply always available but it became a hard requirement placed on me if I want to use this, and I will repeat, awesome piece of softw

[2015-05-20 19:30] spencergibb commented on #157
I like the idea of an event.

[2015-05-21 21:23] hmichopoulos commented on #155
Actually, Config Server should send 404 if the application is not found

[2015-05-26 00:00] bagerman opened #158 "How can I combine cloud config server and eureka server in a single service?"
I am not sure but from a sample cloud config server it appears that it might also serve as eureka server. Would it be possible to combine two together to be deployed as a single service?

[2015-05-26 07:17] dsyer commented on #158
In principal, yes. In practice it might not work (Netflix legacy code is not designed to be embedded). Did you try it and it didn't work?

[2015-05-26 07:59] nomstradamus commented on #84
I was able to fix this problem by downloading and install ing JCE.

Read the following blog http://musicpilot.blogspot.in/2009/07/installing-java-cryptography-extension.html

[2015-05-26 08:28] yukatan commented on #119
Is it posible?? I would like to do the same. I want the properties encrypted over http and decrypt then on the client side.

[2015-05-26 21:52] fritzrichter opened #159 "Feature Switch - Inclusion of ConfigServer health check"
Based on this discussion https://stackoverflow.com/questions/30232850/spring-cloud-config-client-slows-down-metric-health it makes sense to add a feature switch (boolean property) which allows the auto-registration of ConfigServerHealthIndicator.

Currently the entire roundtrip to the ConfigServer --> GIT --> and back, slows dramatically down our health checks. I monitor the config server separate

[2015-05-27 08:52] #159 closed

[2015-05-28 02:24] beku8 opened #160 "Client app does not pick up configserver in 1.0.1.RELEASE"
I've just updated my app to 1.0.1 from 1.0.0. Client app doesn't pick up the configserver anymore, so I checked it with a new bare demo application:

pom.xml
[code]

bootstrap.yml:
[code]

Main:
[code]
1.0.0 used to log some I/O error if it could not connect to the configserver, now it shows nothing:
[code]

```/env``` endpoint verifies it didn't pick up configs from configserver. Am I missing som

[2015-05-28 02:44] spencergibb commented on #160
You now need to include
[code]

[2015-05-28 02:44] #160 closed

[2015-05-28 02:46] beku8 commented on #160
Thanks! Should not we include this in the doc though?

[2015-05-28 15:13] spencergibb commented on #160
@beku8 Yup. Done in 1f7d698897194081c98a51f8209a8b51bd0f0cd8

[2015-05-29 08:50] matbhe opened #163 "Missing SSH proxy support (http, socks4, socks5) for git repository access"
There is no way to set a proxy (http, socks4, socks5) for SSH in the following manner:
[code]

The SshSessionFactory will be overwritten in the initialize method of the class JGitEnvironmentRepository (and the initialized flag is private):
[code]
It would be great if there was a configuration property for git ssh proxies which will be considered in the method above.

[2015-05-29 17:25] ksambhav opened #164 "Spring Cloud Config | Git Based | Not working on windows machine"
Hitting the URL on my browser http://localhost:{configServerPort}/{appName}/default gives expected result on a linux machine buts fails on windows machine.

Inside`NativeEnvironmentRepository#clean()` method, around line 153, `normal.startsWith(pattern)` condition fails because of '/' (forward slash) and '\' (backward slash) mismatch on a Windows machine. Same thing seems to be working fine on a l

[2015-05-30 01:06] #158 closed

[2015-06-01 15:17] piefel commented on #25
A pity. Really. Not being able to integrate this into existing projects is a major hindrance.

[2015-06-01 15:33] snicoll opened #165 "BUILD-SNAPSHOT in reference documentation"
In the `QuickStart` document, there is a `pom.xml` snippet with a reference to `1.0.0.BUILD-SNAPSHOT`

See http://projects.spring.io/spring-cloud/docs/1.0.1/spring-cloud.html

[2015-06-01 17:26] dsyer commented on #25
So did you try something that didn't work?

[2015-06-01 19:43] piefel commented on #25
Actually, no. Without guidance, I don’t know how to start. The documentation mentions only Spring Boot annotations, and I have no clue how to do it without Spring Boot.

Alternatively, I could convert the projects to Spring Boot, but don’t know how to do that either. Our projects all use a different bootstrapping process (some use Dropwizard, some are legacy) and only later start up the Spring con

[2015-06-03 08:41] imod opened #166 "provide usage documentation without spring boot"
The documentation claims the following:

`...so they fit very well with Spring applications, but can be used with any application running in any language.`

But there is no documentation how this would even work without `spring-boot`. Could you please add documentation on these topics?
- how to use the `config-client` in a Spring MVC app (no spring-boot)
- how to embed the `config-server` in a Spr

[2015-06-04 21:45] SplashAttacks opened #167 "Command line properties not taking precedence over other property sources"
I am using spring-cloud-config-client 1.0.1.RELEASE and it is not taking command line properties over the property file in the cloud config server.
From the spring-boot docs on external configuration, it seems like this should always be the case:
http://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-external-config.html#boot-features-external-config-command-line-args
My curre

[2015-06-04 22:14] spencergibb commented on #167
If I'm not mistaken, this is the intended functionality.

[2015-06-04 22:39] SplashAttacks commented on #167
So given a spring-boot application running with cloud-config, the only option to overwrite a property in the default config file is to check in a profile to the config repo with the changed property in it and run with the profile?  I can work with this, but seems like you should have the ability to change it from command line if needed (e.g., to quickly test a different server, but only for a shor

[2015-06-05 14:43] spencergibb commented on #167
You can turn off the config server for a given instance, if you want, `spring.cloud.config.enabled=false`.

[2015-06-05 15:49] SplashAttacks commented on #167
Not quite what I am looking for since I think this would require me to pass all properties in through command line then, I would like to just override one property but still use all other properties from config server (just like it would work with a properties file on the classpath).
After looking through the code, I think I understand what is going on.  In BootstrapApplicationListener (which is i

[2015-06-05 17:38] douglassparker opened #168 "NativeEnvironmentRepository,clean() method does not work on windows."
NativeEnvironmentRepository,clean() method does not work on windows. E.g. spring.cloud.config.server.native.searchLocations=file:/app/config,
This code works on Unix or Linux, but not Windows:
if (normal.startsWith(pattern)
&& !normal.substring(pattern.length()).contains("/"))
{ matches = true; break; }
normal = C:\app\config\demo.yml
pattern = C:/app/config/
Entering the property in the Windows f

[2015-06-05 17:42] spencergibb commented on #168
Closing as duplicate of #164

[2015-06-05 17:42] #168 closed

[2015-06-06 20:12] satar commented on #167
I had a similar issue. How I got around it was to provide an override in
the property located in the application's config located in the repo,
something like this:

dialer.connection.port=${port:9125}

Then I could actually override it by passing an argument: --port=9999

On Fri, Jun 5, 2015 at 8:49 AM, SplashAttacks <notifications@github.com>
wrote:

[2015-06-06 20:25] SplashAttacks commented on #167
Excellent suggestion, I will try this.  Thanks!

[2015-06-07 22:43] #167 closed

[2015-06-07 23:09] satar opened #169 "How to determine path of git working copy?"
Like iceycake discusses in issue #147 I also need to push an XML file, in my case for a third-party service. I need to push this file, and potentially others in the future, as part of the solution. I want to leverage off all the hard work the config server already does for me with for property management. The idea is to place these files in the same github repo where the property configs live and

[2015-06-08 05:11] dsyer commented on #169
There's a `@Bean` of type `MultipleJGitEnvironmentRepository` with a property called "basedir". That's the location of the working copy (if there is only one, otherwise the individual repos each have their own). You can set it with `spring.cloud.config.server.git.basedir`.

[2015-06-08 05:11] #169 closed

[2015-06-08 05:40] dsyer commented on #166
The config server is an API (HTTP resource) server. To use it from a non Spring Cloud client, you consume the endpoints using your HTTP client of choice. I would have thought that was obvious.

As far as embedding the server goes, I don't know how you would do that without Spring Boot on the classpath. Why would you want to anyway?

[2015-06-08 05:45] dsyer commented on #165
Fixed I think (if it was in this project). Thanks.

[2015-06-08 05:45] #165 closed

[2015-06-08 05:49] dsyer commented on #164
Looks like it was fixed here: https://github.com/spring-cloud/spring-cloud-config/commit/641d5b40e861e5750393a6f57c26d8124c214083

[2015-06-08 05:49] #164 closed

[2015-06-08 06:06] dsyer commented on #155
This is marked as fixed in #156

[2015-06-08 06:22] imod commented on #166
If I have a single application (and only one instance of that application), then I don't wanna run a separate application just to be able to use `spring-cloud-config` - that just doubles my costs and brings unnecessary complexity. In such a case I would wanna have the client and server be running in the same instance - but maybe the client is already able to work without the server and use use e.g

[2015-06-08 09:08] dsyer commented on #166
If someone has some suggestions about what might change in the documentation then we can mark it as a "documentation" issue. The idea of embedding the git repository clone features in an application is sort of interesting, but I would call that an "enhancement" really, since you would be using the config server code but not exposing a server. How easy it would be to use without Spring Boot is yet

[2015-06-08 11:12] imod commented on #166
I agree with the "enhancement" type for the config-server.
But what I was referring to for documentation is about the usage of config-client outside of spring-boot.

[2015-06-08 11:21] dsyer commented on #166
Fine, but your use case didn't require documentation as much as a new feature. The existing documentation doesn't (as far as I know) even suggest that the config-client might be useful outside a Spring Cloud application. It *does* say that the server could be useful to a wide range of applications, but that wasn't your requirement in the end anyway, and the documentation we have is adequate for th

[2015-06-08 11:27] imod commented on #166
ok, thanks - I agree there with your outcome (although its a disappointment)

[2015-06-08 11:37] imod opened #170 "Support for serverless operation of config client"
If I have a single application (and only one instance of that application), then I don't wanna run a separate application just to be able to use spring-cloud-config - that just doubles my costs and brings unnecessary complexity.
In such a case I would wanna have the client and server (or better just the server API) be available in the same instance.

extracted issue out of the conversation in #166

[2015-06-09 12:35] interair opened #171 "Use cloud config for storing logger configuration file"
Spring Cloud Config provides server and client-side support for externalized configuration in a distributed system. Important part of configuration is logger configuration. I suggest that storing logger configuration in cloud config fits to the main goal of project.

P.S. I think that will be good if cloud config will support any kind of configuration files in future including application aware.

[2015-06-10 21:14] llambda opened #172 "JGitEnvironmentRepository make private methods protected"
Would it be possible to make private methods protected for JGitEnvironmentRepository? I'd like to extend and right now am using reflection to access createGitClient, initialize, and getWorkingDirectory. (I am using that to create commits in the git repo.) Thanks!

[2015-06-12 09:21] interair commented on #171
I tried to do a little improvements https://github.com/interair/spring-cloud-config/commit/0120b024ebb1da23997fbe3591b4c9ef0308e77e
In spring boot exists property:
logging.config= # location of config file (default classpath:logback.xml for logback)
it works only for classpath config files.
Was added new feature for loading logging config by specified path in cloud config server:
it allows to upda

[2015-06-14 22:31] mrumpf opened #173 "ConfigServer startup fails with IllegalStateException under Windows 7"
The following statement fails (see exception below) at server startup under Windows 7 64Bit:

    Assert.state(basedir.mkdirs(), "Could not create basedir: " + basedir);

The temporary folder has been created anyway. There are several reports that the mkdirs() might return false, although the operation succeeded. A suggestion is to ignore the return value from mkdirs() and check the folder for exi

[2015-06-15 16:31] ctatineni opened #174 "Using the native profile on Windows"
I am trying to retrieve the properties from external file system and some how the properties are not loading, below is what i have in bootstrap.yml file.

[code]

[2015-06-15 17:21] spencergibb commented on #172
Your use case sounds scary to me.  I'm pretty sure we don't wan't config server to be in the business to create commits.

[2015-06-15 21:00] llambda commented on #172
I understand, it's a valid concern about config server creating commit, and I'm open to any suggestions For our case we wanted to have a web interface that allows changing values for convenience. Link to  the code for how I extended the class... https://gist.github.com/llambda/1d4f404fbb58f48ab6d0

[2015-06-16 14:29] fritzrichter opened #175 "Cache with Git Backend"
We are using BitBucket as Git Backend for our Config-Server. If a spring-boot clients wants to retrieve updates from the ConfigServer, this one is always going to the external remote GIT-Repository and loads the newest data.

This feature always takes ~ 3-5 seconds, depending on the connection speed between ConfigServer and BitBucket. It would be nice to add a optional feature, which either
a) cac

[2015-06-16 18:55] spencergibb commented on #175
@fritzrichter I'd say that if your devs want speed, manually clone the git repo and use a [file system backend](https://github.com/spring-cloud/spring-cloud-config/blob/master/docs/src/main/asciidoc/spring-cloud-config.adoc#file-system-backend) for config server.  Then it will only update if they run `git pull`.

[2015-06-18 12:55] fritzrichter commented on #175
That's actually not the right solution for another problem. Of course that's something we can do locally, on the other hand going to GIT everytime for every single request, is somehow bad. As well for remote-services I would like a fast start-up and response times of 3-5s for a HTTP Rest Call is something which is good to avoid in general I would say.

What's wrong with a simple Cache?

[2015-06-18 17:57] spencergibb commented on #175
Nothing's wrong with the cache, just a way to approximate it without having the feature.

[2015-06-22 14:35] jaytylerwilliams opened #176 "Pushing config to GitHub with typo causes config server to hold onto current config file version until restart"
Hi,

We have seen an issue where if a .yml config file that contains a typo is pushed to Github it will cause config server to go into a state where it will hold on to that config file version, and subsequent changes and pushes to the repository will not be reflected either by apps pointing to config server, or by accessing the config values via the REST endpoint of config server.  It is not until

[2015-06-22 19:05] arsenaid opened #177 "Overriding ConfigServicePropertySourceLocator"
I have a use case where I need to pass Authorization header to the Config Server. How can I override RestTemplate in ConfigServicePropertySourceLocator class? I am not able to disable ConfigServiceBootstrapConfiguration auto configuration.

[2015-06-23 10:57] dsyer commented on #177
You can set `spring.cloud.config.enabled=false` to disable the existing config server property source. Then you'd have to add your own with the custom `RestTemplate`.

[2015-06-23 11:11] dsyer commented on #176
The sample you posted above isn't even invalid YAML so I don't know why it would be a problem. Even if it was the result would be a 500 from the Config Server and it would recover when the change was applied (pushed to the remote). Maybe if you could check again and see if there isn't something else going on there. Also probably worth updating to the latest code (i.e. a snapshot) in case something

[2015-06-23 12:20] dsyer commented on #174
What version are you using?

[2015-06-23 12:39] #173 closed

[2015-06-23 12:56] #134 closed

[2015-06-23 18:33] jmax01 opened #178 "Removal of "upside down dependencies" in spring-cloud-build breaks build"
Removal of "upside down dependencies" in spring-cloud-build breaks build: https://github.com/spring-cloud/spring-cloud-build/commit/89f41fac39a356e7651c6e69cc84e6876fa145d4

[code]

[2015-06-23 19:18] #178 closed

[2015-06-23 20:50] #177 closed

[2015-06-23 20:51] arsenaid commented on #177
Custom source worked fine. Thank you.

[2015-06-24 13:19] #154 closed

[2015-06-24 16:31] james-appfoundry commented on #164
I'm still hitting this problem even on 1.0.3.BUILD-SNAPSHOT. The string compare fails because the 'normal' var has backslashes. I'm running on Windows (through cygwin to be simplify the ssh access to our git repo) and experience the same issue. It seems as though the same change to normalise the string may need to be applied to NativeEnvironmentRepository at line 136?

From:
					normal = new File

[2015-06-24 20:40] spencergibb commented on #164
@james-appfoundry I'm looking at `NativeEnvironmentRepository` line 136 from 641d5b40e861e5750393a6f57c26d8124c214083 and it has the `StringUtils.cleanPath` call.  Can you make sure you are using the latest code?  If you still have issues, please open a new issue.

[2015-06-25 07:17] james-appfoundry commented on #164
Apologies, yes, in my rush to leave the office last night I'd missed the fact that 1.0.3.BUILD-SNAPSHOT of the cloud starter was using 1.0.2.BUILD-SNAPSHOT of the config server. Cleaned my cache and pulled down the latest 1.0.2.BUILD-SNAPSHOT build and I've picked up the change. Thanks.

[2015-06-25 20:03] cbeattie-miovision opened #179 "No qualifying bean of type org.springframework.cloud.config.client.ConfigClientProperties when using a parent application context"
In Spring Cloud Config Client v1.0.1 there appears to be an issue when using Spring Cloud Config's auto configuration. Consider the following sample application:

[code]
[code]

The following exception will be thrown:
[code]

The issue appears to be with this method in `org.springframework.cloud.config.client.ConfigClientAutoConfiguration`:
[code]

The parent context is non-null and `beanNamesForT

[2015-06-30 04:30] kausnz opened #180 "ConcurrentModificationException when properties stored in Map after "spring.profiles""
In org.springframework.cloud.config.server.EnvironmentController#postProcessProperties

The code throws a ConcurrentModificationException if there's a property in the map that's stored after "spring.profiles" as the following removal doesn't update the iterator used by the foreach. Use propertiesMap.keySet().iterator().remove(..) instead.

	private void postProcessProperties(Map<String, Object> pr

[2015-06-30 04:52] kausnz commented on #180
Fix:
	private void postProcessProperties(Map<String, Object> propertiesMap) {
		Iterator<String> i = propertiesMap.keySet().iterator();
		while(i.hasNext()) {
			if (i.next().equals("spring.profiles")) {
				i.remove();
			}
		}
	}

[2015-06-30 09:28] marcelalburg opened #181 "Inheritance in Config Server in "native" profile with yml not working with Angel.SR3"
Hello,

i use the Inheritance feature in the config server for yml config but since Angel.SR3 is not working anymore.

my setup:

application.yml
[code]

app.yml (no content)
[code]

When i start the config server and call http://localhost:8888/app/dev i just get the server.host and not the "test.url" from application.yml.

if i change the version back to 1.0.0.RELEASE, it works correctly.

Thanks

[2015-07-01 11:33] lujimmy opened #182 "ConfigServerHealthIndicator uses wrong application name to construct a URL to config server"
Hi spring could team,

I've encountered a problem about health check to config server. The **ConfigServerHealthIndicator** uses default application name, which is **application** to construct the URL to config server.

I used a debugger to track the problem and found that the application name is not correctly resolved by **ConfigClientProperties.override()**

[code]

However, the value of **name**

[2015-07-03 15:26] deepzGitHub opened #183 "Issue when java.util.List is used in @ConfigurationProperties and @RefreshScope"
Hi spring could team,

I've encountered a problem when a list of values from yml file is mapped to java.util.List in a bean which is `@ConfigurationProperties` and `@RefreshScope`.

This issue is when the list values in yml changes and /refresh is done on the client.
New additions and changes to existing entries in list works fine when refreshed but if an entry is removed from yml list - it is nev

[2015-07-03 18:15] EvilJinious1 opened #184 "Eureka based config server discovery initially uses correct file then requests incorrect file periodically"
I recently got my services working with configuration server in the discovery based mode.

On start up, I can see that it gets the correct file form the correct location.  I went in and verified that it get properties that exist in the remote file that are not in the local one.

One thing that bothers me is that after the service is running for a while is that it periodically polls the configurati

[2015-07-06 23:01] jmnarloch commented on #138
Hi, I was wondering if you could consider at least implementing a kind of event publishing within the config server something similar to: https://github.com/jmnarloch/spring-cloud-config/commit/c1a003525d40ce3897a53ab02bbce5c01766867d#diff-14f7a9bbd398562fdfd12ce9f6619d7cR179

With at least such API it would be trivial for anyone to implement on top of that selective push notifications/refreshes t

[2015-07-06 23:17] jmnarloch opened #186 "How to make config client pull config changes via RefreshEndpoint"
I'm trying to figure out a way to automate the refresh of configuration on client side. This has been already addressed here: https://github.com/spring-cloud/spring-cloud-config/issues/138 giving a good example on how to implement a "pull" like refresh, although I'm not sure whether constantly hammering the config server it's the best possible solution.

Config server is already pretty capable of

[2015-07-06 23:33] spencergibb commented on #138
@jmnarloch you should open a new issue rather than commenting on one that is closed.

[2015-07-06 23:34] spencergibb commented on #138
@jmnarloch please disregard my comment, I see you opened a new issue :-)

[2015-07-06 23:34] jmnarloch commented on #138
Done

[2015-07-07 06:26] dsyer commented on #186
The proposed change is pretty small, so likely to just get merged if you send a pull request, but it also has a pretty small impact on its own. You say the config server is capable of detecting changes, but I don't see how exactly. For sure it knows how to construct new property sources, but how would it know when to do that, or when a change had been made, or if there was a change which clients w

[2015-07-07 20:22] llambda opened #187 "java.lang.IllegalStateException: Could not create basedir: /var/folders/b3/d5pgf71d131d4sh9tn4_twrw0000gp/T/config-repo-5617033333342511598"
I get these kind of exceptions sometimes in my server log when multiple services attempting to refresh their config at nearly the same time. I can trigger it with three client instances accessing a single spring cloud config server process running at the same time which refresh at the same time if I refresh enough. Feels like a race condition.

[code]

[code]

[2015-07-07 21:39] jmnarloch commented on #186
Yes I guest that misunderstod the functionality of loading the config on demand from the client directly, although correctly if I am wrong, but I am thinking it might be possible to call POST "/refresh" on the config service in order to trigger the reload of properties and afterwards use the event I had mentioned.

[2015-07-07 22:43] jmnarloch commented on #186
There is one fallowup to https://github.com/spring-cloud/spring-cloud-config/issues/138 and calling RefreshEndpoint.refresh() method. I had created a gist: https://gist.github.com/jmnarloch/7be51b6d00b49de84cfa

It turns out this does not entirely work with Eureka setup: what I mean is whenever the refresh method is being called first of all it results with deregistration of the endpoint from Eure

[2015-07-07 23:47] spencergibb commented on #184
I'm not aware of a feature for the config client to periodically poll the server.  Do you have an `@Scheduled` or something else that is causing a refresh?

[2015-07-08 00:08] steve-oakey opened #188 "RequestMappings in EnvironmentController should be GET request methods only"
All mappings should be GET only as none of these mappings are making changes to configuration.

[2015-07-08 04:09] ctatineni opened #190 "Refresh scope"
Hello,

  is refresh scope supposed to re-create all the beans with in the class when the /refresh endpoint is called?
i have a bean that is loading some xml file from file system, annotated the class with refresh scope, when i change some thing on the xml file and call the /refresh endpoint i do not see the changes,seems like bean recreate did not happen.

[2015-07-08 04:26] rubesMN commented on #72
Can someone describe how to use this?  I added spring-retry and behavior did not change.  I see from the code that a new config property retryBeforeFail is available -> tried setting to true (into bootstrap.yml) to no avail.  Combined it with failFast and just the failFast behavior works as it did.   I'm on 1.0.2 spring cloud.

[2015-07-08 06:11] dsyer commented on #72
Is this for the config server (see notes above explaining why that doesn't have retry) or the client?

[2015-07-08 12:08] KeesKoffeman opened #191 "NPE in ConfigClientAutoConfiguration when bootstrapping with a custom parent CTX"
i.e. BeanFactoryUtils.beanNamesForTypeIncludingAncestors(..) can return a different result than BeanFactoryUtils.beanOfType(..), therefore BeanFactoryUtils.beanOfTypeIncludingAncestors(..) should be used.

[2015-07-08 16:04] spencergibb commented on #190
I don't understand "re-create all the beans with in the class".  `@RefreshScope` does not work on `@Configuration` classes.

[2015-07-08 17:10] ctatineni commented on #190
@Component
public class HelloBean {

	@Value("${application.config.test}")
	@RefreshScope
	@Bean
	public HBean hBean(String value){
		return  new HBean(value);
	}

}

after changing the application.config.test value and post to /refresh,  i see that value is changed in the environment but when i try to print the value of the HBean,i still see the old value. am i missing anything?

[2015-07-08 17:14] spencergibb commented on #190
@ctatineni shouldn't your `@Bean` definition go in an `@Configuration` class?

[2015-07-08 18:01] ctatineni commented on #190
i did try with @configuration first , it did not work and then i saw your comment that @Refreshscope does not work with @Configuration then i changed to @component.
How do i apply refresh scope to beans?

[2015-07-08 18:04] spencergibb commented on #190
You can't do
[code]
but can do

[code]
sorry I wasn't more specific.

[2015-07-08 18:20] ctatineni commented on #190
@Configuration
@EnableConfigurationProperties(ConfigProps.class)
public class HelloBean {

	@Autowired
	ConfigProps configProps;

	@RefreshScope
	@Bean
	public HBean hBean(){
		return  new HBean(configProps.getTest());
	}

}

@Configuration
public class HelloBean {

	@Value("${application.config.test}")
	@RefreshScope
	@Bean
	public HBean hBean(String test){
		return  new HBean(test);
	}

}

 i tr

[2015-07-08 18:29] spencergibb commented on #190
Do you have a project you could share that I can take a look at?

[2015-07-08 18:51] rubesMN commented on #72
This is for the client.

[2015-07-08 19:38] ctatineni commented on #190
i am not able to upload the project due to firewall issues, when i post /refresh i see the below logs.

Starting application on WSUSOH3033105W7 with PID 24408 (C:\Users\ct91670\.m2\repository\org\springframework\boot\spring-boot\1.2.5.RELEASE\spring-boot-1.2.5.RELEASE.jar started by ct91670 in C:\tboa4\demo1)
2015-07-08 14:35:22.613  INFO 24408 --- [nio-8081-exec-1] s.c.a.AnnotationConfigApplicati

[2015-07-08 20:20] spencergibb commented on #190
No, I don't.

[2015-07-09 00:13] KeesKoffeman commented on #191
Probably duplicate of gh-179

[2015-07-10 10:54] #191 closed

[2015-07-10 11:08] dsyer commented on #187
That's a temporary directory with a name that is generated in the JDK so it's hard to see how 3 processes would be able to share the same value. Or did you actually explicitly configure it like that?

[2015-07-10 13:06] llambda commented on #187
This was one spring cloud config server process, with one git repository.

[2015-07-13 09:07] jmnarloch commented on #186
I had build small extension that will help to setup scheduled refresh and "Pull" the configuration from configured server, if you would like to I could turn this into a pull request: https://github.com/jmnarloch/spring-cloud-config-refresh

Either way I would like to work on enabling the "Push" like feature through the Config server.

[2015-07-13 10:00] dsyer commented on #190
How do you know the "bean value didn't change"?

[2015-07-13 10:10] dsyer commented on #187
I can't reproduce this. Are you using a local repository (file:// URL)? Is it actually a git repository?

[2015-07-13 10:16] dsyer commented on #163
Duplicates #146

[2015-07-13 10:16] #163 closed

[2015-07-13 10:19] dsyer commented on #175
You could add a cache in your server quite easily anyway using Spring Framework core features. I would prefer not to do it here because the data in the backend can of course change, so you don't really want the cache in production if I understand correctly.

[2015-07-13 10:51] #180 closed

[2015-07-13 10:55] #141 closed

[2015-07-13 10:56] #99 closed

[2015-07-13 10:58] dsyer commented on #186
The push notifications are already discussed in #86. Please feel free to contribute there.

[2015-07-13 11:50] dsyer commented on #181
Those files are config files for the config server itself. So you are running in the "native" profile, and then the server builds a new `Environment` from those files for each request. The meaning of "native" might changed a bit since 1.0.0 because a bug was fixed which meant that the server was sending its own configuration (i.e. the one from "application.yml" in your sample). The native profile

[2015-07-13 11:54] marcelalburg commented on #181
Mhh, this means, there is no possibility to have a "global" config (with profiles) for all applications and some special properties for exact one app ?

i mean, it's a real usecase. two application use the same database maybe - in this "new case" i've to duplicate the properties ...

Thanks
Marcel

[2015-07-13 13:26] dsyer commented on #181
You can do it with `spring.cloud.config.server.native.searchLocations` (setting it to a value that includes your two files but isn't in the default path for Spring Boot). The native profile is really only for testing though, so I'd use the git repository if I were you.

[2015-07-13 13:26] #181 closed

[2015-07-13 13:32] marcelalburg commented on #181
Thanks, i'll try it. But in my opinion, not everybody likes to put his properties into a git. But i can be false. Thanks
Marcel

[2015-07-13 15:09] llambda commented on #187
Thanks for looking into it @dsyer. Just to mention for clarity, here is what my config looks like..

[code]

[2015-07-13 15:44] dsyer commented on #183
Where is the YAML file? In a config repo, or locally in the app?

[2015-07-13 18:30] deepzGitHub commented on #183
I tested this by placing the yaml locally in app and config server. Both cases if we remove an entry from yaml the same is not getting removed from List when refreshed.

Thanks.

[2015-07-14 10:55] dsyer commented on #183
It works for me. Can you share a project with a minimal set of features to reproduce the problem?

[2015-07-14 12:41] dsyer commented on #186
There's a bit of a mixed discussion here, so I tried top point you at some other links to follow up on the push changes. Your issue with eureka registrations being lost appears to be the only thing left. It can't reproduce it so I suspect a pilot error. Can you post a minimal sample project to reproduce please?

[2015-07-14 21:19] jmnarloch commented on #186
Cool thanks,

I had setup a project: https://github.com/jmnarloch/spring-boot-microservices-sandbox/tree/eureka-refresh-deregister that I am always able to see this issue. You will have build it and run minimum three services: EurekaApplication, ConfigApplication, RestApplication. After that the last one will listen on port 8541 after waiting it for registering in Eureka simply do:
[code]
What wil

[2015-07-15 02:01] deepzGitHub commented on #183
Thanks. Please refer https://github.com/deepzGitHub/RefreshList
This is a simple spring boot application were the yaml file is kept locally. Check README.md for the testing scenarios and steps.

[2015-07-15 12:55] dsyer commented on #186
I can't build your sample:

[code]

Maybe something simpler would work?

[2015-07-15 13:07] dsyer commented on #183
Your `RefreshListConfig` isn't actually in `@RefreshScope`. You can put that annotation on a type, but it only has an effect if the type is component scanned. You would have to component scan it, or declare a `@Bean` (with `@RefreshScope`).

[2015-07-15 18:26] jmnarloch commented on #186
Sorry for that I had fixed the build and double check that it is going to work without any extra configuration/properties.

[2015-07-16 00:11] deepzGitHub commented on #183
Thanks.

**Issue #1,**

As you suggested I defined  RefreshListConfig as @Bean in RefreshListApplication and it worked. But i noticed one issue, I have a logic that needs to be executed whenever this List gets changed. I had written that logic in @PostConstruct method in RefreshListConfig  assuming when an http POST on /refresh is done the config change will be initialized before the post construc

[2015-07-16 07:49] dsyer commented on #183
Regarding #&#8203;1 that is the expected behaviour. There is an event you can consume if you want to know which properties changed during a refresh.

Regarding #&#8203;2, I don't see any problem with the `@Import`. Check again, and let us know with more detail if something isn't working (steps to reproduce, or a test case).

[2015-07-16 08:29] #187 closed

[2015-07-16 08:29] dsyer commented on #187
I found a race condition (only on the first request, which is why I hadn't seen it before). Fixed in  ec94a57.

[2015-07-16 09:42] dsyer commented on #122
Apparently you can work around self-signed certs in development environments using these steps:

1. Grab the default truststore, which is the cacerts bundled in the JDK

2. Extract the certs from it, create a new truststore in a temp file

3. Add those certs to the new truststore, add the self-signed cert

4. Set the `javax.net.ssl.trustStore` properties

(Thanks to @willtran for the recipe.)

It'

[2015-07-16 09:42] #122 closed

[2015-07-16 09:44] dsyer commented on #179
Fixed by #191

[2015-07-16 09:44] #179 closed

[2015-07-16 13:13] cbeattie-miovision commented on #179
Thanks @dsyer.

[2015-07-16 15:18] deepzGitHub commented on #183
Regarding Issue #2 I still feels there is an issue when an entry is removed from List.
I have detailed all the scenarios to replicate the issue in https://github.com/deepzGitHub/RefreshList

List refresh (addition and deletion) works perfect when ComponentScaned ONLY from the java configuration where the Bean is defined

Few Scenarios where the list is getting messed up when some entries are remov

[2015-07-16 17:17] dsyer commented on #183
None of that makes any difference for me. Your app works fine. It does print out the list twice, and the first time is wrong if the list shrank, but that's the way the `@PostConstruct` is called (once on the old object, and once on the refreshed one).

[2015-07-16 17:27] deepzGitHub commented on #183
Hi Dave,

I'm ignoring the PostConstruct issue but when it is used in the Controller,
the list still has the deleted entries as mentioned in the Test case
scenario. Please let me know if you are getting the correct response in
browser.
On Jul 16, 2015 12:17 PM, "Dave Syer" <notifications@github.com> wrote:

[2015-07-17 14:07] cppwfs opened #193 "ConfigServicePropertySourceLocator should log a warning and not an error if failFast is false"
Currently if the config server is not available and the failFast flag is set to false Cloud Config Client will report an error, but should be a warning.

The scenario is when a Spring-Cloud-Stream module starts up (specifically the samples) and no config server is running the first log message is an Error.  This makes it look like there is a problem when none exists.

I will submit a PR for this f

[2015-07-18 09:01] dsyer commented on #193
Fixed in 54f76bc

[2015-07-18 09:01] #193 closed

[2015-07-18 09:06] dsyer commented on #182
In the user guide is says "You can disable the Health Indicator by setting `spring.cloud.config.server.health.enabled=false`." It also says that it's not using the application name to check the health, but you can set the values. I'm not sure why. I also don't know why the health check would fail if it had the wrong app name. What is it that happens in your case?

[2015-07-18 09:12] dsyer commented on #172
Agree. It would be better to just copy the code.

[2015-07-18 09:12] #172 closed

[2015-07-18 09:18] dsyer commented on #171
I'm not really clear on what you patch is doing in detail. Can you clarify a bit?

Is this what you want to do: store an XML log configuration file (e.g. logback.xml) in the config server; download it in the client; copy it to the file system; re-initialize the logging system?

[2015-07-18 09:28] lujimmy commented on #182
Hi Dave, It's my bad. I didn't check the latest version of the user guide. I'll close the issue. Thank you so much for the help!

[2015-07-18 09:28] #182 closed

[2015-07-18 09:30] dsyer commented on #83
There are multiple issues being discussed here now. Let's try and stick to one (the "multiple roots" from the summary). As I understand it the requirement was to optionally exclude the `application.yml` common configuration from an environment request? I'm not sure why that is summarized as "multiple roots" so maybe you could see if that is still correct?

The templating thing is also active in #1

[2015-07-18 09:31] dsyer commented on #101
See also #146

[2015-07-20 13:03] nishantpandya opened #195 "Add Company Image In Email Template"
There is a nice facility in IOMAD that as per company we can update the email templates from IOMAD -> Course Management -> Email Templates.

If we want to send the email from one company manager of one company so they can change content as per there requirement.

Now I want to add the Image on the email template. So when admin / company manager create there employee then they will get there compan

[2015-07-20 15:57] dsyer commented on #195
I don't think this is a Spring Cloud question, is it?

[2015-07-20 15:58] #195 closed

[2015-07-20 16:03] samarth274 opened #196 "Spring cloud bus refresh doesnt work with local repository"
Hello,

I am working on microservices using spring-cloud and I find it interesting. I am exploring cloud-bus feature of spring-cloud. I have added this dependency at both the client and the config-server:

compile("org.springframework.cloud:spring-cloud-starter-bus-amqp:1.0.0.RC1")

I have included @RefreshScope at the client end.

I configured my local repository by using spring.platform.config.s

[2015-07-20 17:05] dsyer commented on #196
I suggest you update to a more recent version than a release candidate from several months ago. You are also using Spring Boot 1.3 snapshots, which means you probably want the 1.1.0 snapshots for Spring Cloud bits, but beware as they are quite unstable currently. Stick to Spring Cloud Angel.SR3 and you should be fine. Also read the user guide again because there are no config properties called `sp

[2015-07-20 17:20] rubesMN commented on #72
So, could someone document how this works from the config client perspective?   Spent some further time on this and spring.cloud.config.retryBeforeFail has no affect.  @roykachouh - is this intended to be functioning?

[2015-07-20 17:35] llambda commented on #187
@dsyer Much thanks for fixing it! :+1:

[2015-07-20 17:52] dsyer commented on #72
Works for me. Did you compare with the sample in spring-cloud-samples/tests?

[2015-07-20 19:00] samarth274 commented on #196
@dsyer : Thanks for the quick response. I followed your suggestion and updated snapshots of my spring cloud libraries to Angel.SR3. Now I am facing a new issue on the client side. Looks like the basic functionity of autowiring dependecnies is not working:

Below is the attached snapshot on the config-server side. The same has been copied on the client side
<img width="1440" alt="screen shot 2015-0

[2015-07-21 04:58] nishantpandya commented on #195
So sorry @dsyer . Actually I have post IOMAD query on spring-cloud.
Please remove this query from here.

[2015-07-21 06:31] dsyer commented on #196
I'm sorry, but there isn't enough information here. I think it would help if you go and do some studying on your own - look at the sample apps and the user guide - and try again, a bit more methodically.

[2015-07-21 08:05] dsyer opened #197 "Config prefix spring.config.retry should be spring.cloud.config.retry"
Config prefix spring.config.retry should be spring.cloud.config.retry. We can change it in 1.1 (better to leave 1.0 as it is I guess).

[2015-07-21 08:20] #197 closed

[2015-07-21 12:36] lejeunen opened #198 "Multi tenancy support"
We are considering using the config server for our multi-tenant SaaS application, but have trouble finding an elegant way to do it with the actual state of the config server. Or maybe we are missing something, if so please tell us :)

Our application serves multiple customers, or tenants, and each of them have specific configuration.

Examples of tenant aware configuration are
- Structure of analy

[2015-07-21 23:43] rubesMN commented on #72
The problem I had was lack of information outside of inspecting code.  I see now that my pom needed spring-boot-starter-aop, spring.cloud.config.failFast was required to be defined as true, spring-retry needed to be in the pom, and a Bean of type RetryOperationsInterceptor needed to be created (or corresponding properties in bootstrap).  Hope others benefit as I think this is the Doc now I suppose

[2015-07-22 08:10] dsyer opened #199 "Add documentation on retry in config client"
There is a decent sample app but nothing in the actual user guide right now.

[2015-07-22 08:13] dsyer commented on #72
For anyone else who is reading this thread, please go to #199. Next time, @rubesMN, please note that the best way to make a change is to suggest it in a feature request (where any uncertainty can always be debated before committing actual code), and if possible a pull request.

[2015-07-22 10:57] dsyer commented on #198
I'd like to understand the use case a bit more. What does "Configuration of widgets" mean?

Note that the config client is designed to initialize a single `ApplicationContext` (or more specifically its `Environment`). How is that relevant to your multi-tenant scenario? Wouldn't you be able to create a new `ApplicationContext` per tenant? It seems like you would need some way to separate their conc

[2015-07-22 12:06] paulc4 opened #200 "Quick start documentation fix"
At the end of the quick start documentation is says:

[code]

In the JSON returned from `localhost:8080/env` I think it should be `configService:http://myconfigserver.com/bar.properties":{"foo":"bar"}`.

[2015-07-22 13:55] hdloesche commented on #190
I tested a bean method based (@Bean) and a annotated class (@Component) with @RefreshScope and somehow the method based variant did not call the constructor of the scoped bean after a "refreshAll" (org.springframework.cloud:spring-cloud-context:1.0.1.RELEASE).

If I am not wrong, I found the reason in "ConfigurationClassBeanDefinitionReader" (here: org.springframework:spring-context:4.1.6.RELEASE)

[2015-07-22 15:31] dsyer commented on #190
Yes, spring-cloud-context is where this code lives, so it's better to open an issue there. I'm still not 100% sure I follow though because the constructor of any bean in `@RefreshScope` should only be called when the bean is needed (i.e. when a method is called). Maybe your `@Component` was being used in a different way than the `@Bean`. Anyway, can we move the discussion to spring-cloud-context p

[2015-07-22 17:40] samarth274 commented on #196
@dsyer . Thanks for your help. I carefully followed the steps and the sample apps available. It turned out that I had included an additional jar in my Gradle file. Removing that library made my application work.

[2015-07-22 18:25] dsyer commented on #196
Cool. Glad to hear it.

[2015-07-22 18:25] #196 closed

[2015-07-23 07:44] lejeunen commented on #198
The widget thing means data analysis components (mostly charts) of the application are sometimes deactivated for some tenant, and activated for others. Similar to a configurable dashboard.

I hadn't thought about having an _ApplicationContext_ per tenant. An instance of our service might serve hundreds of different tenants, do you think it would be adequate to have hundreds of contexts?

More gene

[2015-07-23 22:22] mroowa000 commented on #139
We have the same requirement as Binary00. Wondering if you got a chance to look at this.

[2015-07-24 08:29] interair commented on #171
Sure, maybe you will suggest much better solution:
Initially I wanted to add one more prefix implementation to [Resources](http://docs.spring.io/autorepo/docs/spring/4.2.x/spring-framework-reference/html/resources.html): example: **cloud**:data/config.xml and add to ConfigServicePropertySourceLocator and EnvironmentController ability to load any resources, but it is required a lot of changes in ba

[2015-07-24 08:36] dsyer commented on #198
Your use of the word "adequate" is probably just a translation from something in French that wouldn't help me. Certainly an `ApplicationContext` can be very lightweight, so it's not a problem to have them lying around, or even to create them quickly and throw them away (as long as you are very careful with what's in them - you don't want to reboot Hibernate every time you call a method for instanc

[2015-07-24 08:41] #200 closed

[2015-07-24 08:42] dsyer commented on #200
Actually, the URL should *not* be `myconfigserver.com` (it's the git repository URL not the config server URL). I changed the quickstart to reflect the repository URL already used in the server section and clarify it all a bit.

[2015-07-24 09:11] #199 closed

[2015-07-24 10:08] lejeunen commented on #198
By adequate I mean appropriate; would the resulting design be elegant and robust.

Thanks for your comments

[2015-07-24 13:15] dsyer commented on #198
I don't see why not. But the devil as usual will be in the detail.

[2015-07-24 21:31] kwongpan opened #202 "Decrypt fail when the encrypted text is 32 chars long"
Example:

curl http://localhost:8888/encrypt -d abcdefghijklmnopqrstuvwxyz123456 -u user:password
AQCJdqQkxDIaJvWXrPMk9oHdFN7TTXaXpBWe7kuMBIjYXVJ5tCAxvWbdyAzjfAybdPwFa9AstoRWx2MNfqXAEIX0798cWbmPh7zKPwlAj+SeMGogm795CYBsNt+e2oiZ7PqLFUoIs1RV7+0uem/PAPgmbJvaNrOvZ85HZp+NRLcl7+JlkkVFESoYV/4mzSIWxjBs0cfiZw7tp+aJWQR6XKSVkPLdyqvlTpGaA4pY694+Y/y6c+FEM4V/kLI61RsQ46p9e+kpOevM04Hk4tWeK7ksXPUccQ+jbhXd6svARJTWfu

[2015-07-27 06:54] K-RAD opened #203 "Store properties in db instead of git"
Spring-Cloud-Config looks like a very interesting option and we're considering using it in our project.

However, what we don't like is the fact that the properties are stored on Git.
If they were stored in a database it would've been way better in our view. Git is less trackable, there's less security and permissions to push/change them there, it can be down more often than db and so on. Oh, and

[2015-07-27 15:09] ctatineni commented on #190
i am able to solve the issue by removing @autowired and using spring application context to directly get the bean, then i am able to get the new bean, some how with autowired annotation even though the cache is cleared some how it is getting the old bean from some place else, i will open a new issue in spring cloud context.

[2015-07-27 15:09] #190 closed

[2015-07-27 17:31] spencergibb commented on #203
@K-RAD pull requests are welcome, we aren't planning it at the moment.  There are also other implementations that don't use config server [spring-cloud-consul](https://github.com/spring-cloud/spring-cloud-consul) and [spring-cloud-zookeeper](https://github.com/spring-cloud/spring-cloud-zookeeper)  Some of the reasons we chose git are that it already implements versioning and history, which a db do

[2015-07-27 20:49] spencergibb commented on #202
You need to url encode the encrypted text first

[code]

[2015-07-27 20:49] #202 closed

[2015-07-28 11:35] dsyer commented on #139
I have half a solution, or at least an explanation and a workaround. You have to rebind the "environmentRepository" to the `Environment` *after* the application starts up because the first time it binds (in bootstrap mode) is in the bootstrap phase before any remote configuration is yet available. That is to say, after the server starts your repos configuration will be in the `Environment` (you wi

[2015-07-28 12:58] K-RAD commented on #25
Guess there's no update on this issue. I'm in the exact same situation.

[2015-07-29 19:14] spencergibb commented on #171
Related to #147

[2015-07-29 19:52] spencergibb commented on #170
This is how spring-cloud-consul-config and spring-cloud-zookeeper-config work.

[2015-07-29 22:22] atoregozh opened #204 "Config server /encrypt endpoint ignores "+" in keys during encryption"
When trying to encrypt keys by POSTing to the `/encrypt` endpoint of config server I noticed that it ignores "+"s in keys and substitutes them with spaces.
Example:
![image](https://cloud.githubusercontent.com/assets/7033854/8971570/d602cb12-360e-11e5-990b-67265a653a5e.png)
* Leaving off the double quotes in encryption string doesn't change the output.
* When I use `spring` command line client, it

[2015-07-29 22:53] spencergibb commented on #204
You need to url encode the values.  See #202

[2015-07-29 22:53] #204 closed

[2015-07-30 04:26] verystrongjoe opened #205 "It can bring properties from database table?"
I asked this question through stackoverflow site.
http://stackoverflow.com/questions/30254786/spring-cloud-config-environment-repository-has-a-database

But nobody doesn't answer my question. In the README file of it, It is written like the followings.
[code]

Maybe I can't understand of it. But I want it to read the properties from database and manage in the Spring Cloud Server. And Spring Cloud

[2015-07-30 06:03] spencergibb commented on #205
Closed, duplicate of #203

[2015-07-30 06:03] #205 closed

[2015-07-30 14:34] ctatineni opened #206 "Watch files and send refresh events"
Is there a way that we can add file watcher to native file system , so that properties can be loaded automatically, rather than loading them via refresh endpoint?

we can not use amqp bus due to various reasons, any other ideas apart from filewatcher to automatically refresh the properties based on the file system would be appreciated.

[2015-07-30 18:08] checketts commented on #202
@spencergibb Thanks for including the python snippet. Is there a spring cli equivalent?

[2015-07-30 18:33] spencergibb commented on #202
@checketts it's a bit different because it all happens locally, not sure it needs to be url encoded.

[2015-07-30 19:59] checketts commented on #202
@spencergibb Sorry for not being clear. I meant to ask if there was some way to use the Spring CLI to handle the URL encoding aspect and not use python as in `python -c 'import sys,urllib;print urllib.quote(sys.stdin.read().strip())'`

[code]
Then take the return urlEncode from that command and pass it to a curl:
[code]

I like the idea of using the Config server to do the encryption as username/p

[2015-07-30 20:02] spencergibb commented on #202
Absolutely! @checketts create an [issue](https://github.com/spring-cloud/spring-cloud-cli/issues), pull requests welcome :-)

[2015-07-30 20:13] checketts commented on #202
Thanks! Opened: https://github.com/spring-cloud/spring-cloud-cli/issues/11

[2015-07-30 21:12] atoregozh commented on #202
@spencergibb could you please explain why do you have `AQBcV3SLjjFW8tjlI/OEVniVePTM5D%2BOn3w0aAsR/h2ICg9A7Sm6fjudpAgGko%2B73PVSX0X%2BRYBoq5Ia7bwRg5MQTghUGvnv/CQqD6NDas1h493BcfDyqFtMCbnqOMrnp1r0fOHkFyEtGlUuHjy6b5eBN%2BBCpKdtNdIv7WCxL8WcWwRRtjw%2BCFftS2OyD5Jgtk9vTtnkLSDQR5eR/JiJwx3vbu7%2BDsUdLX6vVd9ng9BUjIgdX722Kq4DIHm7KMxr1LZL4bYO/EA6bJ9niqUt2nCM90YlAjLlod1%2BDJpcFxOwM8zR7ZJSsBdnt8gss%2BX2VrNZ5WpEx

[2015-07-30 21:15] spencergibb commented on #202
@atoregozh should have been on its own line, the output of the echo

[2015-07-30 21:22] atoregozh commented on #202
@spencergibb ahhh. now this makes so much more sense!

[2015-07-31 10:43] dsyer commented on #206
I'm not sure I follow the use case completely. Kind of a duplicate of #86?

[2015-07-31 10:47] dsyer commented on #170
I expect this would work up to a point already if you add the spring-cloud-config-server as a dependency and *dont'* `@EnableConfigServer`  but *do* set `spring.cloud.config.server.bootstrap=true`. That would add the environment repository property source to your `Environment` at least. Might need some tweaks.

[2015-07-31 17:58] Binary00 commented on #139
I got a solution working. Not really fond of it, but it works until a more formal solution is available :).

All of the code is below. I do want to say that I had to find out the hard way I couldn't just add repos to the repo hash map in `RemoteMultipleJGitEnvironmentRepository`, I had to diff them manually otherwise every time a repo is instantiated it creates a hash of that on the file system. I

[2015-08-03 15:54] hdloesche commented on #190
I just added a comment here: http://jira.spring.io/browse/SPR-13280 .

[2015-08-05 02:01] ctatineni commented on #148
Hello,

   I am having the same issue, my config server is running with self signed certificate and config clients are not able to connect to the server to get the configuration, is there a property that we can use at client side to get the properties?

[2015-08-05 08:19] dsyer commented on #148
Did you try the `.git` suggestion above?

[2015-08-07 06:36] gondor commented on #175
+1  We are in the process of moving all of our services to the cloud.  Our Git server is still on premise so the connect between our config server in the cloud to pull from on premise is higher in latency.  That being said it would be nice to configure when it updates the local repo (by request or by interval).  I'm curious on how to leverage a cache as mentioned above if it would help in my scena

[2015-08-10 08:13] dsyer commented on #139
That's useful to know thanks. I would prefer a more generic solution which addresses the deeper problem that beans in the parent context are not bound to the full runtime `Environment`. It wouldn't have to know anything about git or repositories.

[2015-08-10 14:36] deepzGitHub opened #208 "json end point request to config server getting 404 when the json file is hosted at external location - spring.cloud.config.server.native.searchLocations"
When the json files are not present in config server classpath but hosted in an external location by using spring.cloud.config.server.native.searchLocations property and activating native profile, the request for the json endpoint is getting 404.

Do we need to have the json files always with the config server classpath?

[2015-08-10 19:58] deepzGitHub commented on #208
@kevincmanning

[2015-08-10 20:22] tcesenthil commented on #208
referencing https://github.com/spring-cloud/spring-cloud-config/commit/57bcd734d11007b250f4c4aa0b0332f709bd2d13  what i understand is the json file needs to be named as follows  {name}-{profiles}.json or access a label defined in the json using the URI /{label}/{name}-{profiles}.json

[2015-08-10 20:44] deepzGitHub commented on #208
DEBUG LOGs from config server,

**Scenario when json file in classpath : file name test_classpath.json**

2015-08-10 15:40:26.827 DEBUG 5972 --- [  XNIO-2 task-1] o.s.web.servlet.DispatcherServlet        : DispatcherServlet with name 'dispatcherServlet' processing GET request for [/test_classpath.json]
2015-08-10 15:40:26.830 DEBUG 5972 --- [  XNIO-2 task-1] o.s.b.a.e.mvc.EndpointHandlerMapping

[2015-08-10 21:07] spencergibb commented on #208
@deepzGitHub config server doesn't serve raw json from the classpath.  It looks for spring boot config files (*.yml or *.properties).

[2015-08-10 21:18] deepzGitHub commented on #208
@spencergibb Thanks for the info. I think I set over expectation on the json endpoint :smile:
Closing this issue.

[2015-08-10 22:10] spencergibb commented on #208
@deepzGitHub NP.  The `json` and `properties` endpoints just format the data config server already knows about into those formats.

[2015-08-11 02:06] kevincmanning commented on #208
@deepzGitHub Sorry for the late response. Just now had time to check my email. The JSON endpoint was just another access point I added so that the existing property sources could be natively parsed by JavaScript consumers. Sorry if it set some bad expectations. Maybe I should have added better documentation to clarify.

[2015-08-11 02:13] deepzGitHub commented on #208
@kevincmanning It's absolutely a great feature, which will solve many open
issues which I had while starting with config-server. Really a good
thought!!!
On Aug 10, 2015 9:06 PM, "kevincmanning" <notifications@github.com> wrote:

[2015-08-11 15:46] deepzGitHub commented on #208
@kevincmanning I have one more question
In my below example, yml is having a list inside list (states and nextPossibleStates) but in json the inner list is getting converted to a Map
[code]
**JSON end point response, each item in nextPossibleStates got converted to key value "0" : "1"**
[code]
Thoughts?

[2015-08-11 17:56] ktong opened #209 "value starts with {cipher} in customized PropertySourceLocator not get decrypted"
we implemented a customized PropertySourceLocator which reads configuration from somewhere. There are values which start with {cipher} which we expect getting decrypted in bootstrap context. However, it does not.

[2015-08-11 18:11] checketts opened #210 "Config client doesn't try next label if first one doesn't exist"
If I set `spring.cloud.config.label=nonexistant,master` then the RestClient receives a 404 on the 'nonexistant' label which is converted to an HttpClientResponseException. The code is checking for a 200 but should also catch the client exception.

See:
https://github.com/spring-cloud/spring-cloud-config/blob/5f05eadbd4c0352515ede0d08427e14bd297d737/spring-cloud-config-client/src/main/java/org/spri

[2015-08-11 18:28] spencergibb commented on #209
@ktong You need to provide much more information than you have provided for us to begin to understand your problem.  What version? What does your configuration look like?  How did you insert the property source?  What does the `/env` actuator show?

[2015-08-11 18:45] ktong commented on #209
<code>
@Configuration
@ConditionalOnOffSpring
public class Cfg2PropertySourceLocator implements PropertySourceLocator {

  @Override
  public PropertySource<?> locate(Environment environment) {
    @SuppressWarnings("unchecked")
    Map<String, Object> properties = OffSpringFactory.getInstance().get(Map.class);
    Map<String, Object> result = properties.entrySet().stream()
            .filter(e -

[2015-08-11 18:45] ktong commented on #209
my spring cloud version is Angel.SR3

[2015-08-11 18:48] ktong commented on #209
/env cannot show the value because it's password. But when I debug the code , the value does not been decrypted, so it still likes {cipher}xxxx in runtime

[2015-08-11 18:49] szpak commented on #209
Maybe this is a similar issue to https://github.com/spring-cloud/spring-cloud-config/issues/30?

[2015-08-12 15:10] spencergibb commented on #210
Closed via 4aaf8cd1881fbcb61d67f59a4cd1080a8a513358

[2015-08-12 15:10] #210 closed

[2015-08-12 16:47] spencergibb commented on #188
Closed via c17d782ec8c10639820cfbc8874ab155620756a2

[2015-08-12 16:47] #188 closed

[2015-08-12 22:43] atoregozh opened #213 "Clarify documentation of pattern formatting when finding single/multiple git config repositories"
The part of the [documentation](http://projects.spring.io/spring-cloud/spring-cloud.html) about 'Git backend' gives example of single and multiple git repos:
![image](https://cloud.githubusercontent.com/assets/7033854/9237926/9255f30a-410b-11e5-9c29-e539abb15325.png)
`In the above example, if {application} does not match to any of the patterns, it will use the default uri defined under "spring.clo

[2015-08-12 22:47] atoregozh opened #214 "Enhancement: Support Multiple git repos based off profiles"
Right now multiple git repositories are supported by providing different values for {application} as in (spring.application.name). have you thought of providing support based off spring.profiles?
for example, we might want to have a separate repo per profile (e.g. dev environment, test environment) that will have many application services.

[2015-08-13 12:31] dsyer commented on #213
What is it about the unquoted "*pattern*" that doesn't work? I'd expect those last two samples are identical.

[2015-08-13 12:39] #213 closed

[2015-08-13 16:04] atoregozh commented on #213
@dsyer It doesn't like the first star (*) if not provided inside of the quotes. Below is the error I get if I don't wrap it in double quotes:
![image](https://cloud.githubusercontent.com/assets/7033854/9254782/995e183e-41a2-11e5-8ea1-feeec5b3de48.png)

[2015-08-13 17:19] dsyer commented on #213
Fine, so it's just invalid YAML. I consider the error message documentation enough but I added a line in the user guide FWIW anyway.

[2015-08-13 17:27] atoregozh commented on #213
Thanks for doing that!

[2015-08-13 18:07] spencergibb commented on #209
@ktong is your locator ordered before [`EnvironmentDecryptApplicationInitializer`](https://github.com/spring-cloud/spring-cloud-commons/blob/master/spring-cloud-context/src/main/java/org/springframework/cloud/bootstrap/encrypt/EnvironmentDecryptApplicationInitializer.java)?

[2015-08-13 18:08] spencergibb commented on #209
Actually, this is in the wrong repository.  Encryption happens in spring-cloud-context.  Can you make an issue [there](https://github.com/spring-cloud/spring-cloud-commons/issues) and reference this one?

[2015-08-13 18:08] #209 closed

[2015-08-13 18:32] deepzGitHub commented on #208
@kevincmanning do you see the above behavior as an issue?

[2015-08-13 18:45] spencergibb commented on #208
@deepzGitHub please open a separate issue if you think there is a bug in how the json is rendered.

[2015-08-13 18:45] #208 closed

[2015-08-14 03:27] kevincmanning commented on #208
@deepzGitHub If that is a problem, I don't think it's with the rendering of the JSON, appears to be with the parsing of the yml, right? If the yml were parsed into a List, it would have returned an array. However, because it was parsed as a Map, Jackson (I think that's the underlying dependency) mapped it to an object instead.

[2015-08-17 17:03] efenderbosch commented on #83
Apologies for not responding to this sooner. This has just started to bubble up in our architectural timeline again.

We are also looking at spring-cloud-consul. It seems there's a bit of overlap as far as configuration goes, but it uses a different mechanism. Is that right? Can our services fetch configuration information from consul using spring-cloud-consul?

[2015-08-17 17:13] spencergibb commented on #83
spring-cloud-consul provides configuration, but uses a lookup scheme similar to spring-cloud-config.  It won't get your 'multiple root configs' behavior.

[2015-08-21 13:41] #139 closed

[2015-08-21 19:44] cubfan20 commented on #177
Can you give examples of what you did to fix this?  I am running into the exact same issue and can't find the right way to do this.